[2021-10-19 19:25] seanjameshan opened #3 "Show type definitions in docs"

[2021-10-19 19:27] 0xs34n opened #4 "Automate versioning and npm release"

[2021-10-19 19:29] 0xs34n opened #5 "addTransaction()"
- [ ] Test it in `__tests__`
- [ ] Generate a valid tx

[2021-10-19 19:30] seanjameshan opened #6 "callContract()"
- [ ] Test in `__tests__`
- [ ] Generate a valid `invokeTx`

[2021-10-19 19:36] 0xs34n opened #7 "Signing transactions"
@janek26 Feel free to add more context to this use case.

https://github.com/authereum/starkware-monorepo

[2021-10-20 02:15] seanjameshan commented on #7
Interesting notes from @martriay of @openzeppelin

**Python implementation**

https://github.com/OpenZeppelin/cairo-contracts/blob/main/test/Account.py

https://github.com/OpenZeppelin/cairo-contracts/blob/main/test/utils/Signer.py

**Smart contract account abstraction:**

https://github.com/OpenZeppelin/cairo-contracts/blob/main/contracts/Account.cairo

https://github.com/OpenZeppelin/cairo-contr

[2021-10-20 13:32] janek26 commented on #6
Blocked by #7 afaik

[2021-10-20 20:00] seanjameshan commented on #6
Don't believe so (correct me if I'm wrong)

[code]
    This is how CLI calls `addTransaction()` I **think** the signature will be provided in the `--inputs`

[2021-10-21 16:22] janek26 opened #10 "Allow blockId to be optional"
Research if `blockId` in any method can be optional (aka `null`). At least it works for this api:
https://alpha2.starknet.io/feeder_gateway/get_block?blockId=null

Maybe also add a helper method to fetch exactly that endpoint and return the block number, as that's a common use case.
The method could be called `getBlockNumber`.

ref:
https://discord.com/channels/793094838509764618/79309483898712884

[2021-10-23 00:13] RoboTeddy opened #11 "compression procedure munges large integers"
https://discord.com/channels/793094838509764618/793094838987128844/901123694523482152
https://discord.com/channels/793094838509764618/793094838987128844/901260335296704582

could potentially use https://www.npmjs.com/package/json-bigint to avoid this problem. I've checked that it can solve at least part of the difference in the program compression pipelines (when employed as in https://gist.github

[2021-10-23 08:43] janek26 opened #12 "invoke function to contract"
Create a nice interface for developers to sent invokeFunction transactions through the `addTransaction` method using the ABI

- [x] pack call data as described by ABI [(ref)](https://github.com/starkware-libs/cairo-lang/blob/f464ec4797361b6be8989e36e02ec690e74ef285/src/starkware/starknet/testing/contract.py#L157)
- [x] sent tx using addTransaction
- [x] tests

[2021-10-24 12:53] #11 closed, assigned to nobody

[2021-10-24 13:40] #5 closed, assigned to janek26

[2021-10-24 13:45] #4 closed, assigned to janek26

[2021-10-24 13:56] 0xs34n opened #16 "Merge Docs job with Release job"
The release commit will also generate docs for `develop` and `main` branches

[2021-10-24 19:17] #16 closed, assigned to janek26

[2021-10-24 23:28] 0xs34n opened #22 "Change netlify to point to main"
after #21  gets merged

[2021-10-27 21:35] janek26 opened #26 "use develop as default branch"
Hey Sean!

can we maybe change the default branch to `develop` ?

It'd improve DX as PRs would be created against develop and also improve release automation, as issues do not get closed if a PR fixing it isn't targeting the default branch.

As the documentation lives on a webpage by now, it would still be valid for the main rpm package :-)

[2021-10-27 21:56] #22 closed, assigned to 0xs34n

[2021-10-28 08:04] #12 closed, assigned to janek26

[2021-10-28 11:40] janek26 opened #28 "Introduce abstractions"
The API we want to expose with this package has rapidly expanded.
I think it'd be good timing to discuss the exposed methods and objects, to prevent future surprises.

I really like the simplicity introduced by @seanjameshan initially, by exposing the api endpoints as is. But with introducing more complex types like contracts and accounts we need to find a middle ground.
I'd like to introduce a si

[2021-10-28 12:12] seanjameshan opened #29 "Upgrade to StarkNet Alpha 3"
I believe the url is alpha3.starknet.io

[2021-10-28 15:08] #10 closed, assigned to nobody

[2021-10-29 12:06] janek26 opened #32 "Implement getContractAddress()"
As contract addresses are now deterministic with StarkNet Alpha3 (#29) lets implement a method to calculate the contract address given the deployment transaction details

Reference in python:
https://github.com/starkware-libs/cairo-lang/blob/master/src/starkware/starknet/services/api/gateway/contract_address.py

[2021-10-29 12:08] janek26 opened #33 "Implement getTransactionHash()"
Also transaction hashes are now deterministic with StarkNet Alpha3 (#29) lets implement a method to calculate the transaction hash given the transaction details

Reference in python:
https://github.com/starkware-libs/cairo-lang/blob/master/src/starkware/starknet/services/api/gateway/transaction_hash.py

(not as important, and maybe depending on #32

[2021-10-29 12:16] #28 closed, assigned to nobody

[2021-10-29 12:20] #7 closed, assigned to janek26, 0xs34n

[2021-10-30 00:33] #29 closed

[2021-10-31 17:32] 0xs34n opened #36 "Guides"
End-to-end and comprehensive guides on how to use StarkNet.js

[2021-10-31 19:20] fracek opened #37 "Usage with Create React App"
I made an example using [this library with react](https://github.com/fracek/starknet-react-example), everything is working fine in development, but in production it looks like starknet.js is throwing a type error. You can [open this page](http://starknet-react-example.vercel.app/) to see the error more in detail.

To reproduce locally:

 * Clone my example repo
 * Build with `yarn run build`
 * Se

[2021-10-31 21:21] janek26 commented on #37
Hey,

please have a look here:
https://github.com/paulmillr/noble-ed25519/issues/23

it seems like the issue is in react scripts code, could you try to locate that bug in their source code?

Have you tried with next's/parcel? :) So we'd know if it's a general thing

[2021-10-31 21:48] janek26 commented on #37
This helps:

[code]

in package.json

The issue is that native biting support is required atm

[2021-11-01 10:14] fracek commented on #37
This worked like a charm (had to delete `node_modules`). Closing, thank you again.

[2021-11-01 10:14] #37 closed

[2021-11-01 11:29] janek26 commented on #32
on it

[2021-11-02 07:55] janek26 opened #40 "replace axios by fetch"
Should we replace axios by some isomorphic fetch implementation to have less dependencies in case the used environment already has fetch available? :) It would not introduce any extra complexity as we can't use most of axis advantages anyways when handling biting json data.

Would love to hear your thoughts @seanjameshan

I'd suggest https://github.com/lquixada/cross-fetch

[2021-11-02 07:57] janek26 commented on #32
I'll move this back to "todo" as it seems our Peterson hash function is far to slow (8h/s) to archive that. I'd rather wait for stark ware to provide an implementation.
fyi @bbrandtom

[2021-11-03 13:05] github-actions[bot] opened #45 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `main` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you can benefit from your bug fixes and new features again.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you

[2021-11-05 02:11] seanjameshan commented on #40
Sounds good. I'm cool with it

[2021-11-05 03:04] seanjameshan opened #46 "Deploying contracts returns error"
[code]

Getting the following error when deploying the AMM compiled code [here](https://github.com/starkware-libs/cairo-lang/blob/master/src/starkware/starknet/apps/amm_sample/amm_sample.cairo)

However, it works when you use the `starknet deploy` command

[2021-11-05 03:23] #45 closed

[2021-11-05 11:45] seanjameshan commented on #26
Re-opening issue:

Recently we had a release error created by `semantic release` #45

This error will happen if we merge 2 PR's at once and the first CI run has not finished.

Wondering if we could make it unable to merge unless all previous CI's are finished.

If we add more contributors, everyone needs to remember to not merge 2 PR's at once. Unless it will be just Janek and I merging to main, I

[2021-11-06 13:22] seanjameshan opened #49 "`invokeFunction()` on starknet.ts"
Something like this:

[code]

[2021-11-06 13:23] seanjameshan commented on #40
As far as I understand, Axios will use the fetch implementation under the hood if it is available?

I chose Axios because it seemed like the industry standard as far as fetching goes.

[2021-11-07 15:47] himanshuchawla009 opened #50 "verify function doesn't work correctly, plz also add a test case for that."
- Sign a message with sign function and try to verify it, verification function will return false always even if hash and signature passed is correct.

[2021-11-08 16:40] seanjameshan commented on #50
How are you calling the sign function?

[2021-11-08 21:07] #40 closed

[2021-11-09 11:00] janek26 opened #52 "Reimplement json-bigint"
One of our dependencies https://github.com/sidorares/json-bigint has seen it's best days.
It uses bignumber.js as a dependency, while this library uses bn.js. It also supports native BigInt which breaks support for older browsers and browserslists (see #37 ).

Lets reimplement this package in TS.
As a starting point we can use the test suites provided at the original repo and write an implementati

[2021-11-09 13:52] #49 closed

[2021-11-11 16:21] seanjameshan opened #53 "Add Janek to docs"
He basically built the library lol

[2021-11-11 16:21] seanjameshan commented on #53
“if you’re not a developer and want to play with starknet? checkout ArgentX”

[2021-11-11 16:31] janek26 commented on #53
haha ❤️

[2021-11-12 07:29] himanshuchawla009 commented on #50
Here is code snippet which can reproduce the issue:-

[code]

isVerified is returning false, it should return true.

I investigated this issue, i believe issue is here:
https://github.com/seanjameshan/starknet.js/blob/f2b26febaf52a1aebe88159480800ee2899ff1d5/src/ellipticalCurve.ts#L93

fixMessage function is not being called on msgHash in verification function as it is being called on sign functio

[2021-11-12 08:26] himanshuchawla009 commented on #46
You need to parse the compiled contract to convert these bignumber to strings so that they can be correctly parsed in javascript. It works perfectly in python or with commandline but doesn't work with javascript because javascript converts these big numbers in to floating points.

[2021-11-12 10:14] janek26 commented on #46
please use

[code]

in these cases

[2021-11-12 10:14] #46 closed

[2021-11-13 20:32] #50 closed

[2021-11-13 20:33] seanjameshan commented on #50
Thanks for the fix!

[2021-11-13 22:18] seanjameshan opened #55 "change `waitForTx` to use `setInterval()` rather than `setTimeout()`"
My suggestion:

[code]

[2021-11-14 00:15] janek26 commented on #55
why? advantages vs disadvantages of the current impl?

[2021-11-14 11:26] seanjameshan commented on #55
The current implementation is time-based. So if I set the retry interval 30 seconds, it will wait 30 seconds.

If the transaction actually takes 5 seconds to be on-chain, the old function will still wait 30 seconds.

With setInterval, it will check every X second (default 1 second). If it takes 5 seconds to go on-chain, the end-user will wait at most +1 seconds to see the transaction updated on th

[2021-11-14 13:44] seanjameshan opened #56 "move `getSelectorFromName()` to `starknet`from `utils/starknet`"
`getSelectorFromName()` is used very frequently with dapps. Every time I make a smart contract call I would have to import like the following:

[code]

Would prefer this import instead:

[code]

I am not using Provider / Signer at the moment so this could possibly be outdated

[2021-11-15 16:58] wraitii commented on #52
FYI I'm hitting [this issue](https://github.com/sidorares/json-bigint/issues/34) with json-bigint when using starknet.js .
My temp fix is to pull from `git+https://github.com/bushev/json-bigint.git#e3e93f71d633cd558bc7c57afcd9e1f54f669d0b` in my package.json

[2021-11-16 10:56] janek26 commented on #56
use signer and provider and this should be solved (together with the contract class)

You should use them anyways to be compatible with argent X ;)

[2021-11-17 09:51] wraitii opened #58 "Support array-return values in contract"
[Contract::ParseResponse](https://github.com/seanjameshan/starknet.js/blob/develop/src/contract.ts#L105) does not support array-return types (X_len:felt, X: felt*). Instead the current method returns two variables with the length & the first value.

I am not clear whether Cairo intends to support struct return values, which also would entail changes to this function.

[2021-11-17 15:31] janek26 opened #59 "Starknet Alpha v4"
As Starkware released starknet alpha v4 today, lets make sure to support it asap.

I can begin to work at this issue as early as tomorrow morning (CET).

## Bonus

The global wipe is also a great opportunity to introduce the newly agreed signing (hashing) algo to the wallet. ref: https://github.com/OpenZeppelin/cairo-contracts/pull/49/files

[2021-11-18 11:44] janek26 commented on #32
this is way easier now:
https://medium.com/starkware/alpha-4-6b572072d80b#53c5

[2021-11-18 12:23] #59 closed

[2021-11-18 12:58] #53 closed

[2021-11-24 13:34] seanjameshan commented on #36
Added a bit more documentation on the README for the ZigZag team to start using starknet.js - more to come as demand for this library grows.

[2021-11-24 13:34] #56 closed

[2021-12-02 08:58] somi1805 opened #82 "Bilyana"

[2021-12-02 08:58] somi1805 commented on #82
Ops

[2021-12-02 16:07] #82 closed

[2021-12-03 15:42] milancermak opened #83 "Typo in testnet name"
The [Görli](https://ethereum.org/en/developers/docs/networks/#goerli) testnet is spelled `goerli` not [`georli`](https://github.com/seanjameshan/starknet.js/blob/100e69db2ee764895b8bd845f5f5c20317286450/src/provider/default.ts#L21).

I can send a PR to fix it, just nott sure how you want to handle it since this might be a breaking change.

[2021-12-07 11:07] GeraldHost opened #84 "deployContract deploys a faulty contract"
I was receiving the error `AssertionError: normalize_address() cannot be used with the current constants` when calling a contract I deployed with `provider.deployContract`. After investigating the issue with Tom (starknet) on discord he has suggested that it is possibly something to do with the way starknet JS is handling ints from the `compile_contract.json` file that is passed in as the first ar

[2021-12-07 13:17] janek26 commented on #84
hey @GeraldHost

can you add the code snippet where you deployed the contract ?
Maybe something went wrong while deploying, even tho it seems unlikely to me

[2021-12-07 16:04] GeraldHost commented on #84
@janek26 sure this is the fuller code:

[code]

`account` is a hex string coming from `window.starknet` and `strToFelt` returns a number string i.e `"123"`

I think it must be deployment related because if I deploy the contract with the CLI all the UI code works fine it's just if this above code is use to deploy I start getting those errors.

[2021-12-07 18:51] janek26 commented on #84
@GeraldHost I See you importing compiled contracts using language features, which will apply `JSON.parse` on them. Please try again with importing the json as text (no parsing) and parse as described here:

https://github.com/seanjameshan/starknet.js/issues/46#issuecomment-966982725

to retain the biting fields when deploying

[2021-12-08 00:16] GeraldHost commented on #84
@janek26 you my friend are a legend! Thank you that was exactly the issue! 🤘

[2021-12-08 00:16] #84 closed

[2021-12-09 11:40] janek26 commented on #52
on hold.
Maybe Starkware moves to using hex everywhere in compiled contracts which would solve this and remove the bitint json dependency

[2021-12-13 11:41] in19farkt opened #89 "Add support of new status to "waitForTx""
The StarkNet in the latest update has split `PENDING` status into `PENDING` and `ACCEPTED_ON_L2`. So we need to add `ACCEPTED_ON_L2` in the "waitForTx" method

[2021-12-13 14:19] #89 closed

[2021-12-14 07:47] in19farkt opened #91 "Add `tx_failure_reason` to the Error from `waitForTx`"
Currently, we can't display to users any details about failure transactions. We only have a status code. But `get_transaction_status` also sends us the `tx_failure_reason`, and I think we should be able to read this reason

[2021-12-14 08:45] janek26 commented on #91
thanks for bringing it up!
I think it's mostly just typing the response in typescript. PR's very welcome!

[2021-12-23 15:43] dan-ziv commented on #33
@janek26
I already did it in our bridge (StarkWare).
TAL here:
https://github.com/starkware-libs/starknet-bridge/blob/dev/src/utils/hash.js#L6

The only thing that is actually missing is to calculate dynamically the tx hash prefixes from the chain ID and the transaction ID.
In `python` it's been done by `b` function and then `from_bytes` function. From my searches, I didn't find something equal in

[2021-12-23 16:36] janek26 commented on #33
Hey Dan,
I think https://github.com/seanjameshan/starknet.js/blob/main/src/utils/shortString.ts is what you are looking for. It returns the same as b from python afaik

[2021-12-27 04:39] MorganIsBatman commented on #37
You are a legend @janek! I was about to gear myself up to faff about with my tsconfig when I found this.  Instant solve!  Thank you sir

[2021-12-28 13:59] maht0rz commented on #37
@janek26 your fix just saved my day, i wonder what is the actual root cause of this problem - but thanks!

[2021-12-28 14:01] janek26 commented on #37
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/BigInt#browser_compatibility

Hopefully this will be fixed soon by StarkWare switching BigInts to hex strings in compiled contracts

[2022-01-03 09:26] #91 closed

[2022-01-03 09:27] janek26 commented on #83
https://github.com/seanjameshan/starknet.js/pull/97

[2022-01-03 09:27] #83 closed

[2022-01-03 09:27] #55 closed

[2022-01-12 17:58] dhruvkelawala opened #103 "Better way to parse Uint256 result of `Args` to BN"
Currently,

`export type Args = {
  [inputName: string]: string | string[] | { type: 'struct'; [k: string]: BigNumberish };
};`

The type of `Args` does not include a type Uint256 which is a normal JS object with `low` and `high` properties. How should it be parsed on frontend?

For example,

Example ABI:
` {
        "inputs": [
            {
                "name": "account",
                "typ

[2022-01-13 09:45] FilipLaurentiu opened #104 "Sending Uint256 Fail: AssertionError: normalize_address() cannot be used with the current constants"
version 2.5
More context: https://discordapp.com/channels/793094838509764618/927918707613786162/930855057568727141

Sending `Uint256` end up with a REJECT transaction
Same values send from starknet cli wor
![Screenshot from 2022-01-12 15-57-08](https://user-images.githubusercontent.com/20188480/149305875-d2c070d0-a5f7-4562-b324-2f5c8067948b.png)
k

Error
[code]

[2022-01-14 15:56] janek26 opened #105 "Support Type transformations for Contracts"
Calling contract’s function transforms python types to Cairo types based on ABI:
int -> felt
tuple -> tuple
iterable -> array
dict -> struct
Function result is transformed from Cairo types to Python types.

[2022-01-14 15:57] janek26 commented on #105
https://github.com/seanjameshan/starknet.js/discussions/102

[2022-01-14 15:58] janek26 opened #106 "Starknet.js v3 - human readable interfaces"
### Discussed in https://github.com/seanjameshan/starknet.js/discussions/102

<div type='discussions-op-text'>

<sup>Originally posted by **janek26** January 12, 2022</sup>
Hey all,
today I'll propose new interfaces for `Provider`, `Signer` and especially `Contract`.

## [`Provider`](https://github.com/seanjameshan/starknet.js/blob/main/src/provider/interface.ts) and [`Signer`](https://github.com/

[2022-01-14 16:39] janek26 opened #108 "Implement verifyMessage() on signer"
Signer should get an additional method `verifyMessage(typedData: TypedData, signature: Signature): Promise<boolean>`, which allows the signer to check if the given signature signs the given message using the signers pub key.
There should also be a `verifyMessageHash(typedDataHash: BigNumberish, signature: Signature): Promise<boolean>`, which allows the signer to check if the given signature is val

[2022-01-14 16:43] janek26 opened #109 "Method inputs (Human Readable Api)"
Instance methods like invokeFunction should do more preprocessing and not expect results from helper functions like getSelectorFromName or compileCalldata.

This will allow other actors in the ecosystem to implement their own Provider or Signer, with the ability to show human readable data to the user. This is very important for wallets, but also Hardware wallets like Ledger, so we don't just appr

[2022-01-18 10:12] dhruvkelawala commented on #32
Waiting for this to be implemented. Is there anyway I could help by creating a PR?

[2022-01-18 10:25] janek26 commented on #32
[CONTRACT HASH](https://starknet.io/documentation/contracts/#contract_hash) may be part of the compiled JSON in the coming version, which would enable this feature as described here: https://starknet.io/documentation/contracts/#contracts_addresses

I guess it could be implemented today, but you would need to calculate the contract hash yourself as described

[2022-01-18 11:01] dhruvkelawala commented on #32
`starknet.py` implemented it 4 days ago. They are also calculating the hash themselves I guess. I think we can implement it. But any issue that I should keep in mind?

[2022-01-18 11:37] janek26 commented on #32
Maybe just that the hash function is very slow right now in JS, which makes contract hash calculations very long.
So we should switch to the precomputed value when available, and maybe fallback to the calculations which can be implemented today 🙂

[2022-01-18 14:44] seanjameshan commented on #104
Should be fixed with closing #105

[2022-01-18 14:47] seanjameshan commented on #58
Is this related to #105 or #106 ?

[2022-01-18 14:51] 0xs34n opened #111 "implement getTransactionReceipt() in `Provider` class"
https://github.com/starkware-libs/cairo-lang/blob/master/src/starkware/starknet/services/api/feeder_gateway/feeder_gateway_client.py#L104-L111

[2022-01-18 14:59] seanjameshan commented on #104
I believe this will be fixed with #105 @MilGard91

[2022-01-19 06:43] in19farkt opened #112 "Add an events subscription"
In the 0.7.0 version, StarkNet began to support events. So maybe it is possible to add an events subscription, as in the Web3.js.

Documentation:
- https://starknet.io/documentation/events/
- https://starknet.io/docs/hello_starknet/events.html

[2022-01-22 01:16] dhruvkelawala opened #116 "Implement validateAndParseAddress()"
Implement a function which can validate and parse Starknet addresses

[2022-01-25 11:58] dhruvkelawala opened #119 "Add polling for getBlock and emit `block` event whenever a new block is added on Starknet"
To be implemented on `Provider`

[2022-01-25 13:10] #108 closed

[2022-01-27 09:00] bonustrack opened #120 "getBlock with custom block id always return latest block"
Using the function getBlock() with a custom block number it doesn't return the correct block example:
https://alpha-mainnet.starknet.io/feeder_gateway/get_block?blockId=123

[2022-01-31 15:30] 0xs34n commented on #26
Switched branch back to `develop` @janek26 @MilGard91

[2022-02-01 10:21] dhruvkelawala commented on #58
Waiting on this to use with Multicall Contract Response.
https://github.com/dhruvkelawala/argent-contracts-starknet/blob/main/contracts/Multicall.cairo

[2022-02-01 11:08] janek26 commented on #120
should be fixed

[2022-02-01 11:08] #120 closed

[2022-02-07 10:38] #111 closed

[2022-02-10 08:11] dhruvkelawala opened #129 "Can we just use an Array instead of Args for compileCalldata function?"
We are already converting Args to Array using `Object.values(args)` . Why not to just pass an Array in the form of positional arguements to compileCalldata? `ethers.js` do this as well.

[2022-02-11 19:58] fracek opened #131 "Superstruct type error with create react app"
I noticed that when using this library with a project created with `create-react-app` users get a `TypeError` generated in `typedData`. This doesn't seems to be related to #37.

I created a repo to reproduce this issue [here](https://github.com/fracek/create-react-app-type-error-starknet).

I attached the log file generated by Chrome.
[localhost-1644609483259.log](https://github.com/0xs34n/starkne

[2022-02-21 22:22] rzmahmood opened #132 "Add Utilities for Felt Array Conversion"
Hey team,

I was wondering if the following utilities would be a good place for this repo:
[code]
I found these utilities useful for the scenario:
 to convert a `string -> [felt]` so that it can be passed as an argument to a function with parameters: `arg_len: felt, arg: felt*`:

I can create the PR if that works for everyone!

[2022-02-22 22:05] 0xs34n commented on #104
Apparently this solves it:

https://discord.com/channels/793094838509764618/927918707613786162/938005362777411615

cc @MilGard91 @janek26

[2022-02-22 22:16] 0xs34n commented on #104
Pasting the Discord solution for those that are facing a similar issue:

[code]

[code]

[2022-03-03 09:38] delaaxe opened #134 "Run tests on localhost"
It seems unit tests are running against the `defaultProvider` which is goerli, making the tests really slow.

An example of a localhost test runner can be found here: https://github.com/argentlabs/argent-x/blob/develop/.github/workflows/test.yml#L14

[2022-03-03 11:22] dhruvkelawala commented on #134
I think running actual tests before publishing a package is better to run on goerli. If you are looking to contribute or test your own feature/change, you can make changes to `defaultProvider` and set the `baseUrl` to `http:localhost:5000`

[2022-03-05 04:22] dhruvkelawala opened #135 "Why are we passing ABIs when we are not using it in `signTransaction()`?"
Maybe let's improve documentation around it?

https://github.com/0xs34n/starknet.js/blob/b130516b790e87357143a4c99cf5534386a14a27/src/signer/default.ts#L26

[2022-03-06 15:32] #104 closed

[2022-03-08 15:19] janek26 commented on #129
we'll support both patterns in the future :)

[2022-03-08 15:20] #129 closed

[2022-03-08 15:23] janek26 commented on #112
would be very cool, but there's no other way than polling whole blocks to detect if an event was triggered, so we'll probably wait until there's a more lightweight alternative

[2022-03-08 20:02] rzmahmood commented on #132
@janek26  No, it's not. It was developed in the library by https://github.com/sekai-studio/starknet-libs/tree/7d2a461c7ea6684499a2df9601c6b3c0efa568f9 but could be consolidated here.

Guthl from Starkware suggested proceeding with this here : https://discord.com/channels/793094838509764618/927918707613786162/945417045330239638

[2022-03-09 17:22] janek26 opened #140 "Implement Contract methods TS validation based on ABI"
throw an error in starknet.js if input object has additional keys that cant be used as input arguments
https://github.com/seanjameshan/starknet.js/blob/d9ec6d3ea3cc0dbf3538fb2fe7b5e1d8a8831490/src/contract.ts#L76

As a dev it's annoying if you pass an object which looks right but don't get an error.
example: https://github.com/argentlabs/argent-x/pull/382

maybe somebody can pick tis up faster tha

[2022-03-09 17:24] janek26 commented on #134
it would be great to run the test suite against some local network for development. I agree we should still do the full run against Goerli (or both) before merge and in the branches.

[2022-03-09 17:26] janek26 commented on #135
that's done to allow Signers to display additional info on an transaction.
Imagine ledger/argent x

should be covered in docs @0xs34n

[2022-03-09 17:26] janek26 commented on #132
not sure if it should live in starknet.js then or if it should just be a tiny independent package?

[2022-03-09 17:29] janek26 commented on #119
this sounds like a very heavy method.. I don't like polling very much.
If implemented with polling then it should be lazy.

[2022-03-09 17:35] delaaxe commented on #134
Having to make code changes to change test network isn't great, ideally we'd have a different command in package.json

[2022-03-09 17:39] janek26 commented on #134
agree, lets change code to consume some ENV var and fallback to current behavior

[2022-03-10 04:42] dhruvkelawala commented on #134
Or similar to defaultProvider, let's create a testProvider which uses localhost in baseUrl and must only be used for testing. No code changes will be required. :)

[2022-03-10 11:57] delaaxe commented on #134
possible to run PR tests against localhost and run npm publishing tests against goerli?

[2022-03-10 12:03] delaaxe opened #142 "`semantic-release` should publish pre-release versions from develop"
https://github.com/semantic-release/semantic-release/blob/master/docs/recipes/release-workflow/pre-releases.md#publishing-pre-releases

[2022-03-10 13:52] janek26 commented on #142
it does by default, eg https://github.com/0xs34n/starknet.js/releases/tag/v3.4.0 is a pre-release

[2022-03-10 14:04] delaaxe commented on #142
i meant that the published version name should be something like `v3.0.0-pre4` or `v3.0.0-alpha4` or something

[2022-03-10 14:05] janek26 commented on #134
I would probably keep both test runs for PR.
I like the idea of keeping develop and main stable, aka make sure things work before merging.

But it would be very helpful for individual devs to run against local devote before creating a PR.

If local tests proof reliable we can discuss about replacing the full test run for PR's again

[2022-03-11 12:23] delaaxe opened #146 "doc: update README"
The main README should be updated to use the new Contract interface

[2022-03-11 14:55] 0xs34n commented on #146
Would this be a good alternative? I wrote it yesterday but it might be outdated as of today

https://github.com/0xs34n/starknet.js-workshop/blob/main/index.js

[2022-03-22 08:32] legion2002 opened #150 "Unable to sign transactions using Signer"
Hi, I am facing issues with signing messages using Signer, in Starknet, and I think that the issue stems from the ec.keyFromPrivate function
( I am using the starknet js library)
Here is the error that I am getting -  https://alpha4.starknet.io/feeder_gateway/get_transaction?transactionHash=0x5d7e3c4e333b4db6a1e6f8dd8809fc3661cd51c5852a6a139f2561f8da59121
I have debugged it to the point, where I c

[2022-03-22 14:26] fracek opened #151 "`ContractFactory` provider type"
The type of `providerOrAccount`  in the `ContractFactory` constructor is currently a `Provider | Account`. Should it be a `ProviderInterface | ContractInterface` instead?

[2022-03-22 14:48] janek26 commented on #151
yes it should, thanks

[2022-03-24 08:15] janek26 commented on #150
hey, `ec.ec` is an external package called https://github.com/indutny/elliptic so it would be a bug for them, if it is any.
Maybe https://github.com/0xs34n/starknet.js/blob/develop/src/utils/ellipticCurve.ts#L44 helps

[2022-03-24 08:15] #150 closed

[2022-03-24 10:25] legion2002 opened #153 "Issue in Deploying Abstract Account Contract using defaultProvider.deployContract"
I am trying to deploy an abstract account
I am using the compiled Argent Account directly from the the starknet js github repo - https://github.com/legion2002/starknet.js/blob/develop/__mocks__/ArgentAccount.json

Here is the code I am using -
[code]
But I keep getting this error -
![image](https://user-images.githubusercontent.com/64212892/159895952-4403d01d-7813-4758-ac0b-b502c0b3a5c2.png)
my de

[2022-03-24 15:09] MilGard91 commented on #153
Hey, since this was resolved in the discord channel and it was a problem with starknet.js version I will close this one.

[2022-03-24 15:09] #153 closed

[2022-03-24 15:14] MilGard91 commented on #106
With a new release, this is covered for all the classes.

https://github.com/0xs34n/starknet.js/releases/tag/v3.5.1

[2022-03-24 15:14] #106 closed

[2022-03-24 15:15] MilGard91 commented on #58
This is covered by the release v3.5.1 and is now part of the lib.

https://github.com/0xs34n/starknet.js/releases/tag/v3.5.1

[2022-03-24 15:15] #58 closed

[2022-04-02 01:11] ponderingdemocritus opened #158 "No Transaction exports"
In this doc -> https://www.starknetjs.com/guides/erc20/

It references 'transformCallsToMulticallArrays' this exists but is not currently exported.

Is the plan to include this in the next version?

[2022-04-06 11:11] #146 closed

[2022-04-06 16:01] clacladev opened #160 "Get an Account from Wallet"
Hello team.
I have a series of wallets defined in `hardhat.config.ts`. I deployed them manually on the devnet. Now I am writing tests and I would like to obtain an `Account` object, from the `Wallet` object obtained from `const ringoWallet = getWallet('Ringo')`.
Is there a way to do so?

[2022-04-09 13:35] lsbyerley opened #163 "Error: NOT_RECEIVED when initializing contract"
Hello, following the example in the docs for deploying and creating an account contract, the initialize function returns a `NOT_RECEIVED` transaction hash

[code]

[2022-04-11 07:05] microbecode opened #164 "Function parameter struct arrays can't be used"
If you are trying to call a function which has an array of structs as input parameter, your call will fail.

This is because the code checks whether the `type` is any of the listed `struct` types. It's not, because the type includes the asterisk symbol `*`. Here's an example from OZ account contract: https://github.com/OpenZeppelin/cairo-contracts/blob/dfafdd2ebd778718cf440555e975f6eace278695/src/

[2022-04-11 07:28] yogh333 commented on #163
Hello,
 Same issue reproduced on my side with 3.9.0 and starknet-devnet instance running....

[2022-04-11 08:27] MilGard91 commented on #163
Hi guys,
are you both using devnet, or this is happening on the testnet also?

[2022-04-11 08:45] yogh333 commented on #163
Hello,

 It's happening on devnet only on my side....

[2022-04-12 12:23] MilGard91 commented on #163
@yogh333 This should be working now on devnet, after the latest update.

@lsbyerley We have the tests that are using the defaultProvider and that does the same invocation and it's working. Maybe the network was overloaded. You can check our test [here](https://github.com/0xs34n/starknet.js/blob/f9eeee37a18e454011ac3720bd0f4fdafb470c59/__tests__/account.test.ts#L22)

[2022-04-12 12:43] yogh333 commented on #163
@MilGard91 I have updated starknet-devnet to `0.1.20` and even ArgentAccount deployment fails now with `connect ECONNREFUSED 127.0.0.1:5001` error....

[2022-04-12 13:04] microbecode commented on #164
I was testing, added also some console.logs to your library.
The struct was registered properly, but `input.type` was `AccountCallArray*` instead of `AccountCallArray`. It was registered as struct `AccountCallArray`, so the line 277 (in my original post) didn't see it as a struct.
I got errors that the argument should be of array type (the `else` "fallback" branch at line 294)

[2022-04-12 16:30] MilGard91 commented on #163
@yogh333 ok I will forward this to devnet team

[2022-04-13 05:53] microbecode commented on #164
I'm a bit puzzled. Your line 293 has an `else` branch (not an `else if`). After that, on line 316 there is another `else` branch. So the branching goes something like this: `if -> else if -> else -> else if -> else`. That doesn't make any sense.

[2022-04-13 08:47] janek26 commented on #164
this is not possible in JS :) if you look closely you can see it's 2 different if statements where the else applies to

[2022-04-13 08:58] microbecode commented on #164
Ah heh yes. Even copypasted the code locally to check I was reading it correctly, but didn't help - I was just reading it incorrectly.

But in any case, as far as I can tell, my original bug is valid.

[2022-04-14 12:39] TrooperCrypto opened #165 "Issue using the Contract class"
[code]

https://github.com/0xs34n/starknet.js/blob/f9eeee37a18e454011ac3720bd0f4fdafb470c59/src/contract/default.ts#L347-L352

this.structMemberNum() is not a function

[2022-04-14 14:00] MilGard91 commented on #164
@microbecode Can you send me how do you call this method? So I can test it out.

[2022-04-14 14:32] microbecode commented on #164
Here's a somewhat cleaned version: https://github.com/eqlabs/starknet-multisig/tree/feature/js_bug
Uses OZ Account.cairo , just changed its import paths.

To test (I've been using venv):
`yarn`
`npm run compile`
`npx hardhat test`

[2022-04-14 15:28] MilGard91 commented on #164
But you are passing an object when the function expects an array. So you should pass `[callArray]` instead of `callArray`

[2022-04-14 17:15] microbecode commented on #164
Thanks, but I've already tried all sorts of variants. Tried now again `[callArray]` - same result: `Error: arg call_array should be an Array`

[2022-04-14 22:22] lsbyerley commented on #163
@MilGard91 i created a gist of my code.. can you spot anything wrong? I am still getting the NOT_RECEIVED error:

https://gist.github.com/lsbyerley/ddfa56d94ab8a850eb2257797955790d

I did notice the argent-x wallet uses `provider.invokeFunction()` as opposed to calling initialize function from the contract class `accountContract.initialize()` https://github.com/argentlabs/argent-x/blob/de0af196a4b

[2022-04-14 22:29] lsbyerley commented on #163
@MilGard91 thanks, i believe my problem is resolved now!

[2022-04-14 22:29] #163 closed

[2022-04-15 15:20] MilGard91 commented on #164
Remove the _len properties and it should work.

[2022-04-19 06:14] microbecode commented on #164
Looks like I interpret the `default.ts` code wrong and got mixed up with different tooling - one requires one to input the array length manually, while another does it for you.

Thanks a lot for the help, things seem to work fine once I remove then `_len` inputs.

[2022-04-19 06:14] #164 closed

[2022-04-20 07:00] janek26 commented on #33
solved in #166

[2022-04-20 07:00] #33 closed

[2022-04-20 13:25] MilGard91 commented on #160
If you have the keys and a address you can:
`const ringoWallet = new starknet.Account(provider, address, keyPairOrSigner)`
For the provider

[code]

[2022-04-20 14:13] #165 closed

[2022-04-20 14:13] #151 closed

[2022-04-20 14:14] #158 closed

[2022-04-24 06:48] wighawag opened #172 "ReferenceError: Buffer is not defined"
Seems like starknet.js is depending on libraries relying on polyfills (like Buffer) which modern framework do not like

Using vite.js I get

[code]

Any idea how to get passed that ?

[2022-04-24 09:27] dhruvkelawala commented on #172
This is not only starknet.js issue. I have worked on ethers.js and tried using vite.js with it. It took me some time to resolve this issue but I was able to. You will need to add missing shims yourself. Once you solve Buffer, you will be getting other issues.

Although, I would like to see support of Vite.js and other modern bundlers like webpack5.0 to support starknet.js ootb.

[2022-04-25 09:14] wighawag commented on #172
With ethers.js I do not have any need to put buffer as a dependency. ethers is built with modern tooling and no dependencies such as these.

I also found a workaround but ideally starknet.js should use modern es libraries as dependencies

[2022-04-25 09:50] dhruvkelawala commented on #172
As I can see the error seems to be coming from ledger dependencies used in starknet.js. `@ledgerhq/hw-transport-webusb` this dependency is causing the issue.

If you go on their github, you will find the open [issue](https://github.com/LedgerHQ/ledgerjs/issues/734)

[2022-04-25 19:05] 0xs34n commented on #131
We should probably replace `superstruct` package

[2022-04-25 19:08] 0xs34n commented on #37
Users who build on the web should probably use `next.js` as there is an issue with the following packages:

https://github.com/0xs34n/starknet.js/issues/172

https://github.com/0xs34n/starknet.js/issues/131

[2022-04-25 22:35] janek26 commented on #172
completely agree with @wighawag. Lets get rid of it
cc @0xs34n

[2022-04-26 19:35] FawadHa1der opened #177 "maximum call stack size exceeded for large compiled cairo files"
I get maximum call stack size exceeded error for large compiled cairo files. Greater than 8 mb. I. have created a pull request with a fix as well https://github.com/0xs34n/starknet.js/pull/176

[2022-04-28 11:21] fracek opened #180 "Contract factory deploy arguments"
I noticed that `ContractFactory.deploy` expects `RawCallData` as input, any particular reason for that? I believe it would be easier to use if it expected arguments like other call methods (`call`, `invoke`) and converted them to raw call data internally.

[2022-04-29 12:09] wantedsystem opened #181 "Assertion Error: normalize_address() cannot be used with the current constants"
Hello,

I've used the latest version of https://github.com/0xs34n/starknet.js-workshop example in a react web application using starknet.js version 3.10.2, but instead of importing the json files from the file system (I don't have access to the FS), I created a JS module that exports the content of the files as strings and then I parse them as JSON.

I have an error when executing this code (minti

[2022-04-29 19:18] janek26 commented on #181
hey, if you import using js, you need to import as txt file, as json's get pased and destroy the bignumbers in the process. After importing as raw text, you can parse them using the json export from the lib

[2022-04-29 23:28] anders-torbjornsen opened #182 "NOT_RECEIVED error when running StarkNet.js workshop with starknet-devnet"
The StarkNet.js workshop example works fine on testnet, but when running it against starknet-devnet I get this error:
[code]

[2022-05-02 16:39] zediogoviana commented on #181
I had the same issue, but I was using NextJs. The solution I came up with was to use [API Routes](https://nextjs.org/docs/api-routes/introduction) to make a request to some defined endpoint to read contracts. As this request is handled server-side, you have access to `fs`.

File in `pages/api/contract.ts`
[code]

And then call it like this where we want the correct payload.
[code]

This is differe

[2022-05-03 11:35] anders-torbjornsen commented on #182
Turns out I'm just an idiot and I forgot to pass in my provider to the contract

[2022-05-03 11:35] #182 closed

[2022-05-04 01:17] micksabox opened #183 "Incorrect Signature sent to StarkNet"
The signature that this library generates is not the signature that is being sent to the StarkNet API (for some unknown reason).

Tried to think about how to reproduce this issue. The Sample Test code at the bottom can be copy and pasted into `__tests__/accountContract.test.ts`. Some imports might be missing so just add those. I have previously created a [test account](https://goerli.voyager.onlin

[2022-05-04 01:18] micksabox commented on #183
Let me know if I should create a fork with the sample test included.

[2022-05-04 14:05] 0xs34n commented on #183
It works with Argent Account.. not sure why OZ account isn't working

[code]

[2022-05-04 14:32] bartekryba opened #186 "estimateFee crashes, when fee exceeds Number.MAX_SAFE_INTEGER"
estimate_fee endpoint returns data with two fields: amount and unit, e.g.:
`{"amount": 6525000005, "unit": "wei"}`
which is parsed in fetchEndpoint in such a way, that amount is of type number, not string or BN.

This creates a problem when calling Account.estimateFee. When returned amount exceeds Number.MAX_SAFE_INTEGER, BN constructor's assert fails, resulting in such error:
[code]

Quick soluti

[2022-05-04 14:59] janek26 commented on #186
can you please check the branch of #187 and let me know if you still have a problem?

[2022-05-04 15:18] #183 closed

[2022-05-06 08:05] bartekryba commented on #186
It worked for me, thank you!

[2022-05-08 18:36] greenlucid opened #188 "Next.js Maximum call stack size exceeded on Deploying contract"
Using a Next.js project [you can find here](https://github.com/greenlucid/chess-cairo/tree/feat/alpha-frontend/frontend) I get the Maximum call stack size error when trying to deploy a compiled contract.
How should I go around this? Is it possible to raise Next.js call stack size?

    RangeError: Maximum call stack size exceeded
    at arrayBufferToString (encode.js?ae1c:33:1)
    at btoaUniversa

[2022-05-11 12:23] #186 closed, assigned to nobody

[2022-05-13 11:07] avimak opened #189 "Move lib to be under the `starknet-community-libs` organization"
need to transfer the lib to the new https://github.com/starknet-community-libs/ organization

[2022-05-15 16:25] Pet3ris opened #190 "QQ: Is there any chance that `compileCalldata` modifies `args`?"
I'm running into issues where if I use `starknet-react` `useStarknetCall` with an argument, it issues another extra call with the argument changed to `"0"`.

I'm wondering if there is any chance that `call` could modify `args`, e.g., through here: https://github.com/0xs34n/starknet.js/blob/develop/src/contract/default.ts#L464?

FYI @fracek @janek26

[2022-05-15 16:58] #190 closed

[2022-05-15 16:58] Pet3ris commented on #190
Probably not the underlying issue as I was able to patch on my end by forcing arguments to be non-zero.

[2022-05-16 16:37] yogh333 commented on #32
Hi,

 Nowadays, contract addresses seem to be computed and returned by the sequencer ([here](https://github.com/0xs34n/starknet.js/blob/develop/src/provider/default.ts#L340)). I am wondering how the `caller address` is provided to the sequencer ? Is it through the `DeployContractPayload` where both salt and caller address are passed through the `addressSalt` field ?

[2022-05-17 06:51] janek26 commented on #32
`caller address` for contract deployment is always `0` currently 👍

[2022-05-24 14:53] arochedy commented on #131
Same error for me.

I try to add the confg-overrides.js file and the solution from #37 and I still have the problem :(

[2022-05-27 17:32] KirisakiAria opened #194 "Perhaps a little silly question: Where can I find ArgentAccount.json?"
![image](https://user-images.githubusercontent.com/20788476/170761491-3ce71074-f0f0-43e2-845f-b3b2787303e8.png)
When I was learning to create accounts with starknetjs, ArgentAccount.json was mentioned here. How can I find that?

[2022-05-30 02:10] 0xbohu opened #196 "Uncaught TypeError: (0 , superstruct_1.string) is not a function"
Hi, I am getting this error when using starknet.js and it is related to superstruct in `starknet/dist/utils/typedData/types.js `

in my package.json
[code]

Error

[code]

[code]

[2022-05-30 10:09] #131 closed

[2022-05-30 10:09] #196 closed

[2022-05-30 12:49] badurinantun commented on #194
Agent account contract can be found [here](https://github.com/argentlabs/argent-contracts-starknet ).

If you just want to follow along the example you can use the file from the workshop repo: [ArgentAccount.json](https://github.com/0xs34n/starknet.js-workshop/blob/main/ArgentAccount.json).

[2022-05-30 16:52] #194 closed

[2022-05-31 12:56] sdlyy opened #199 "getStorageAt method signature"
Hi there,
shouldn't `getStorageAt` method accept the `string` type for the `storageKey`?
It is easier to maintain number 'format' when it comes to the 'stringy' numbers.
Those values are sent over HTTP as plain string at the end of the day.

I may have missed something, so I would appreciate any clarifications.

### Current behavior:

[code]
will result in number transformation to the scientific n

[2022-06-03 13:23] badurinantun commented on #188
Have you seen the https://github.com/0xs34n/starknet.js/issues/181#issuecomment-1115105979?

I create a small Node script for the contract deployment and everything deployed succefully: https://gist.github.com/badurinantun/7fb166993e629f1714e9a39795e0b7c7

[2022-06-07 07:57] #199 closed

[2022-06-07 21:23] fracek opened #203 "Create ABI parser module"
I want to add more type safety to the `Contract` call by adding type parameters to `call` and `invoke` (related: https://github.com/apibara/starknet-react/issues/98).

The first issue I noticed is that the encoder/decoder for cairo types is coupled with the Contract class, which for example forces tests to make a contract call to test the encoding/decoding. I propose to create a new `encoding` mod

[2022-06-08 08:19] badurinantun commented on #203
Hey, when you say `I want to add...` does this mean you will create a PR?

[2022-06-08 08:25] badurinantun opened #204 "Adapt tests for Cairo v0.9.0"
Tests are failing as fees are enforced on the testnet.

- [x] Remove `maxFee: 0` from tests
- [x] Figure out how to get tokens into tests or provide an alternative
- [x] Change account deployment (without `initialize` method)

[2022-06-08 09:22] fracek commented on #203
Yep, I can make a PR for this.

[2022-06-10 17:28] badurinantun opened #206 "Missing utils documentation"
Update API documentation with missing functions from the `utils/` directory.

[2022-06-11 06:32] dhruvkelawala opened #208 "Wrong Interface for `estimateFee`"
https://github.com/0xs34n/starknet.js/blob/c0422b7d963639d34082731f6efbe3f0dd2c3c4d/src/account/interface.ts#L47

[2022-06-14 14:34] #204 closed

[2022-06-15 07:54] ivpavici commented on #206
@badurinantun feel free to assign me on this one!

[2022-06-15 14:46] Arcticae opened #218 "Incorrect types on `get_transaction` endpoint responses"
i believe the types in the library are not compliant with the newest API on goerli/mainnet (0.9.0), this one is an example:

In this one there is transaction hash in top level from GetTransactionResponse:
https://github.com/0xs34n/starknet.js/blob/develop/src/types/api.ts#L228

And here it's in the transaction itself:
https://alpha4.starknet.io/feeder_gateway/get_transaction?transactionHash=0x1c10

[2022-06-15 15:41] dhruvkelawala commented on #218
Thanks for reporting this. I will go through all the apis again and fix wherever I find such bugs.

cc: @janek26

[2022-06-15 22:45] #218 closed

[2022-06-16 08:20] ivpavici opened #220 "Release labels from v3.9.0 onward are always pre-release"
Hello!

Last release labeled "latest" is still v3.9.0, and all the others going forward are marked as "pre-release"

![image](https://user-images.githubusercontent.com/2848732/174026068-31c2666b-7f4d-4085-91fe-79e5e88fa557.png)

Can we fix it? :)

[2022-06-16 12:33] #134 closed

[2022-06-16 13:26] #220 closed

[2022-06-16 16:34] Arcticae commented on #218
@janek26 @dhruvkelawala
Hey guys it's still an issue, the responses from the API don't include the hash which is in the transaction object.
https://alpha4.starknet.io/feeder_gateway/get_transaction?transactionHash=0x1c104329cc40c94992c816a6c07e8cedd287d5f7c1d901bb7855923e169a00d

Response:
[code]

[2022-06-16 18:08] janek26 commented on #218
can you check https://github.com/0xs34n/starknet.js/pull/224 ?

[2022-06-20 09:05] Arcticae opened #228 "Call Contract - Response parsing on call errors"
The library tries to parse the response and the code for parsing response throws an error, since response is undefined:
`Cannot read properties of undefined (reading 'flat')`

This part of code seems to cause the issue:
https://github.com/0xs34n/starknet.js/blob/5374fdf676915d634775c7c072ea923ddaee2817/src/contract/default.ts#L614

[2022-06-20 09:11] badurinantun commented on #228
Thanks for opening the issue! What's the thrown error?

[2022-06-20 09:12] #206 closed

[2022-06-20 09:21] Arcticae commented on #228
[code]

[2022-06-20 15:01] Arcticae commented on #228
https://github.com/0xs34n/starknet.js/pull/232
This one might fix the issue, although it needs to be tested

[2022-06-20 20:59] Arcticae commented on #228
@janek26 did this one fix the issue for you? I'm still getting this error after upgrading to newer version with the `GatewayError` introduced

[2022-06-21 10:10] Arcticae commented on #228
NVM - i had an older version of package installed :)

[2022-06-21 10:10] #228 closed

[2022-06-29 07:39] Qupday opened #241 "When creating an account block in defaultProvider.waitForTransaction"
const accountResponse = await defaultProvider.deployContract({
        contract: compiledAccount,
        addressSalt: starkKeyPub,
    });
await defaultProvider.waitForTransaction(accountResponse.transaction_hash);

js code block in waitForTransaction function; I query status by hash in "https://alpha4.starknet.io/feeder_gateway/get_transaction_status?transactionHash=hash" first return RECEIVED;

[2022-06-29 09:22] badurinantun commented on #241
Can you check the source of your compiled account? Some assert failed in it

[2022-06-29 09:29] Qupday commented on #241
Here is my code: Account.json is download from this project in __mocks__/Account.json
const starkKeyPair = ec.genKeyPair();
    const starkKeyPub = ec.getStarkKey(starkKeyPair);

    const compiledAccount = json.parse(
        fs.readFileSync("./Account.json").toString("ascii")
    );

    const accountResponse = await defaultProvider.deployContract({
        contract: compiledAccount,
        add

[2022-06-29 10:27] Qupday commented on #241
Account.json is download from this project in mocks/Account.json..Is it ok?

[2022-07-04 21:50] 0xAurelou opened #245 "Error Dockerize"
Does some someone tried to dockerize an app using starknet-js ?
I got this error
Since I am not used to starknet-js please be nice
[code]

[2022-07-08 09:04] ssteiger opened #246 "Proposal: Add calcChainId() util"
Proposal:

It would be nice to have a function from which one can fetch/calculate the chain id passing the network identifier as a string.

**example:**

[code]

equivalent python code:
[code]

* [starknet docs - chain id](https://docs.starknet.io/docs/Blocks/transactions/#chain-id)

[2022-07-08 09:49] ssteiger commented on #246
Code

[code]

[2022-07-10 13:36] d-s-i opened #247 "Error: viewable method not found in abi (while I can see it)"
I am getting this error when calling my contract
[code]
with the realmsAbi being this one https://pastebin.com/01iVMPmG. The abi have been generated with hardhat and I don't understand why it says it can't find the `fetch_realm_data` function because it is here:
[code]

[2022-07-12 09:33] supsam89 opened #249 "Error: Calling factory deployed contract gives a 500 error"
When trying to interact with (`Contract.call`) a contract that has been deployed by a factory the following request is made:

Header:
`https://alpha4.starknet.io/feeder_gateway/call_contract?blockNumber=pending`

Body:
[code]
Producing a 500 error:
[code]
Contract:
`
https://goerli.voyager.online/contract/0x03053e2e251cb67e652baf3a3ff091f807bfdc1f01ee21ef64180559bc0ee739
`

Calling the contract wi

[2022-07-12 21:58] d-s-i commented on #247
All right, I think there is no need to look at it. It was probably a mix of many different mistakes on my side and on the already deployed contract by a third party. I don't even know exactly but it seems to be solved now.

If I had to give feedback though, the differences between `contract.call("METHOD_NAME", ...args)` and `contract.METHOD_NAME(...args)` is really super super confusing ...

[2022-07-12 21:58] #247 closed

[2022-07-13 08:38] badurinantun commented on #249
Can you provide a snippet of code which we can reproduce? Right now new version is being developed, so we'll try to fix this issue once that gets released

[2022-07-13 08:39] badurinantun commented on #246
When would you use this? Chain id can be fetched from the provider, so I'm just wondering what the use case for this is

[2022-07-13 08:40] #177 closed

[2022-07-13 08:43] badurinantun commented on #241
Sorry, could not reproduce this issue. Perhaps you can pick a different account artifact, it will be easier to debug when you have a source code

[2022-07-13 08:43] #241 closed

[2022-07-13 08:44] badurinantun commented on #245
Did you try to use `npm` instead of `yarn`?

[2022-07-13 10:36] greenlucid commented on #188
Note I was trying to deploy from a browser, not Node.js.

[2022-07-13 11:05] supsam89 commented on #249
Was writing up the snippet and I believe I just found the solution!

The problem was I was calling the factory to get me the addresses of the contracts, and some of the characters in the Hex were uppercase. Making the error above make sense, as it seems the feeder_gateway only accepts lowercase.

Is it possible to add forcing the contract address to lowercase when creating the Contract Object? Oth

[2022-07-13 11:11] badurinantun commented on #188
Contract class needs to be parsed by the provided `json.parse` util from `starknet.js`. Regular `JSON.parse` can't handle big numbers

[2022-07-13 11:12] badurinantun commented on #249
Rather than sending them lowercase we could parse them with `toHex(toBn(...)`

[2022-07-13 16:58] Marchand-Nicolas opened #250 "Cannot invoke contract functions"
Hello, I am new to starknet js.
I'm trying to invoke a function of a contract using this code :
[code]
But I get this error:

[code]

So I went to /home/nicolas/Desktop/Nico/eykar/API/node_modules/starknet/dist/account/default.js:125:92

the error is here:
[code]

So I printed the source of the "result" variable in the console (_a.sent()), and I get this:

[code]
So there's definitely something I

[2022-07-13 20:26] paulmillr opened #251 "Remove dangerous dependencies"
Current dep list is:

[code]

You're depending on `ethereum-cryptography`, which contains audited versions of secp256k1, all sorts of hashes (sha2, sha3...); e-c also doesn't use `bn.js`, instead, it uses native bigints.

So, I strongly suggest to remove `bn.js`, `elliptic`, `hash.js` — it would reduce your bundle size by a huge amount; and improve security drastically. Elliptic had 2 CVEs in 2020

[2022-07-13 21:04] janek26 commented on #249
I think all addresses pass toBN at some point anyways, maybe enough to just add a lowercase transform to the input of toBN for now 🙂

[2022-07-13 22:17] 0x25cfb68 commented on #250
I just faced this issue too, like you did I was able to track it down to `getNonce` ([link](https://github.com/0xs34n/starknet.js/blob/ebe557891922f1e7ed51b7283b90cc60dce0a5d4/src/account/default.ts#L48))

I noticed that this call fails if the address has capital letters:
[code]
when I updated my account initialization it worked

[code]
the weird thing is I copied the address straight from argent

[2022-07-13 22:31] 0x25cfb68 commented on #250
I just faced this issue too, like you did I was able to track it down to `getNonce` ([link](https://github.com/0xs34n/starknet.js/blob/ebe557891922f1e7ed51b7283b90cc60dce0a5d4/src/account/default.ts#L48))

I noticed that this call fails if the address has capital letters (checksumed):
[code]
looks like Starknet fails to make calls to contracts with checksumed address, the weird thing is that execu

[2022-07-14 07:25] Marchand-Nicolas commented on #250
What version of starknet js are you using? I get this error now:

[2022-07-14 07:29] Marchand-Nicolas commented on #250
Sorry, I missclicked

Before, the address was written in hexadecimal on my side, and not a string, so I added " " around it. However the .toLowerCase() probably has no effect as the address is written in plain text in my code, and contains no capitals. However, using a string instead of hexadecimal changes the error when I try to invoke the function. I get this now:

[code]

[2022-07-14 07:37] badurinantun commented on #250
This look like it could be an issue with the way you created and instance of the Account class. Can you share how you did that?

[2022-07-14 07:45] Marchand-Nicolas commented on #250
This is how I define the account:

[code]

[2022-07-14 07:49] Marchand-Nicolas commented on #250
Since the error is from keyPair.sign, it is probably relevant that I show you how I define starkKeyPair :
[code]

[2022-07-14 08:12] Marchand-Nicolas commented on #250
Finally, there is one last problem: the transaction is sent, but it is rejected with this error:

https://alpha4.starknet.io/feeder_gateway/get_transaction_receipt?transactionHash=0x7fc4ebd0e21224d234b1d8990c2666128f5bb7dd4db26d5cbc4c66f52bf1c89

[code]
It is, I suppose, another signature problem. This is the way to define starkKeyPair :

[code]
Shouldn't it be generated from my account informatio

[2022-07-14 08:42] Marchand-Nicolas commented on #250
I solved the problem by changing my account. I used an account generated on ArgentX.
(and the .toLowerCase() helped me with the address given by ArgentX)

[2022-07-14 08:42] #250 closed

[2022-07-14 23:39] ssteiger commented on #246
In the boilerplate I'm creating there is an array of all starknet networks together with the relevant information that is needed to easily switch between networks. On a switch the js contract objects are updated with the different deployed contracts.
The file looks like this [here](https://github.com/ssteiger/starknet-dapp-boilerplate/blob/main/packages/react-app/src/constants.js).
I'm not entirel

[2022-07-15 12:34] badurinantun opened #253 "Support `get_block_traces`"
Cairo version v0.9.1 introduces `get_block_traces` endpoint, which given a block identifier, returns the traces of all the transactions within that block.

This should be supported by both `SequencerProvider` and `RpcProvider` from the #243.

I'm not sure if this should be a new method or if the `getBlock` should receive an option to return traces.

[2022-07-15 12:47] badurinantun opened #254 "Support `get_state_update`"
Provider is missing the `getStateUpdate` method, it should accept the block identifier.

[RPC spec](https://github.com/starkware-libs/starknet-specs/blob/c18b7650a31b098a626935d82afdc603a5ad46f0/api/starknet_api_openrpc.json#L77)
[Sequencer API](https://github.com/starkware-libs/cairo-lang/blob/167b28bcd940fd25ea3816204fa882a0b0a49603/src/starkware/starknet/services/api/feeder_gateway/feeder_gatew

[2022-07-15 12:54] badurinantun opened #255 "Add `starknet_version` to block response"
Should be introduced in the v0.9.1 of the Cairo language

[2022-07-15 17:55] janek26 commented on #246
ist this the same as `shortString` which already exists ?

[2022-07-15 22:00] paulmillr commented on #251
@janek26 I could work on this. Do you have any budget allocations, or grants?

Are you using nist p256?

[2022-07-16 12:47] janek26 commented on #251
we have no budget at all atm :( The project so far is just a community effort

You can find all of the ec logic here: https://github.com/0xs34n/starknet.js/blob/develop/src/utils/ellipticCurve.ts#L10

[2022-07-16 14:54] ssteiger commented on #246
Yes. Maybe it would be easier though if there was a descriptive function?
It took me quite some time to find out how to get the chainId.

[2022-07-17 18:02] Marchand-Nicolas opened #259 "How to use Uint256 as an input for contract functions?"
How to use Uint256 as an input for contract functions?

I tried that :

[code]
and that :

[code]

but it doesn't seem to work (the transaction is rejected), while it works on voyager with the same inputs and the same user.

Thank you in advance for your answer(s)

[2022-07-18 04:45] calvwang9 opened #260 "Hashing an array of structs is not supported"
# Context
I am building a StarkNet dapp, which involves the user signing a payload off-chain using a browser wallet such as ArgentX, then verifying the signature on-chain in a Cairo contract. To do so, I needed to reconstruct the [hashing process](https://github.com/0xs34n/starknet.js/blob/6ee478119f4d33c5bcab72d525fff9fe59500702/src/utils/typedData/index.ts#L166) from starknet.js in Cairo, howeve

[2022-07-18 08:56] fracek commented on #259
I ha the same issue when adding a hook for multicalls to starknet-react. I believe there should be a version of `execute` that does argument encoding like contract's `invoke`.

[2022-07-19 07:57] Marchand-Nicolas commented on #259
It seems to work. Thank you!

[2022-07-19 07:57] #259 closed

[2022-07-19 07:58] caelinsutch commented on #259
Which one was the fix?

[2022-07-19 08:42] Marchand-Nicolas commented on #259
I have just finished, here is what there is to know:

When calling a function, use this syntax for Uint256: e.g. [13, 0]

e.g. `contract.exampleFunction("2", [tokenId, 0])`

But when executing a function, use this syntax: e.g. "13", "0" (do not group the two values in an array)

e.g.

[code]

Tell me if this is not very clear, or if I have misunderstood something

[2022-07-19 09:56] tabaktoni commented on #251
Regarding native BigInt, according to:
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/BigInt

Any thoughts on this?

[2022-07-19 12:50] janek26 commented on #251
thanks for your efforts @paulmillr !
So I think it‘s save to assume native bigints are more secure than any external (JS) library doing the same thing

[2022-07-23 04:25] #255 closed

[2022-07-23 07:11] #260 closed

[2022-07-30 13:18] Marchand-Nicolas opened #274 "Invalid nonce"
Hello, everything was working well, but since recently (when the contract was heavily solicited), all transactions seem to be rejected. With the error **nonce invalid**.
Here is the rest of the message:
[code]
Also, it is written **An ASSERT_EQ instruction failed: 332 != 331** in the message. So I think the nonce is shifted by 1

Here is how I invoke the function (I don't precise the nonce, I thou

[2022-07-30 13:55] Marchand-Nicolas commented on #274
![image](https://user-images.githubusercontent.com/60229704/181917523-8dea517f-8d41-45d4-8005-d643d71f0645.png)
In fact the nonce only changes each time a transaction is completed. So how do you make several transactions at the same time?

[2022-07-30 15:19] Marchand-Nicolas commented on #274
I fixed it using it :
At the begining :

[code]

At each request :

[code]

[2022-07-30 15:19] #274 closed

[2022-07-31 09:32] janek26 commented on #274
keep in mind you can also provide an array of transactions to execute to use native multicall!

[2022-08-01 11:28] leezijie opened #275 "How to initiate a transfer, please help me"
`let startkKeyPair = ec.getKeyPair('0x02d00b96090e46d75e6851a2c1f7ff76aed634c75376fda82924e1e31f0afcf7')
    let signer = new Signer(startkKeyPair)

    let transactionDetail = {
        nonce: 0,
        walletAddress: toBN('0x751981883821d4e10fc223de22c044366f5f5b5967bc3f0ef9bc840f5c9a875').toString(),
        chainId: StarknetChainId.TESTNET
    }

    let transation = {
        contractAddress

[2022-08-01 13:38] #26 closed

[2022-08-02 09:39] janek26 commented on #251
Hey @paulmillr , we'll get some grants for a couple of issues from StarkWare 🎉 Are you still interested working on this?

[2022-08-02 09:42] paulmillr commented on #251
Yes.

[2022-08-02 16:47] Marchand-Nicolas opened #276 "multicall transactions are rejected"
Hello, I am trying to do a mullticall, but the transaction is rejected.

[code]

**'message': 'contract address 0x0 is out of range'**

(https://alpha4.starknet.io/feeder_gateway/get_transaction_receipt?transactionHash=0x47f3e3c8fc444d712e64de7ef34e0221b69a6aee2abc6f2fec97e32cea18a7d)

This is how I do the multicall:

[code]

I could not find any examples of multicall in the documentation. So the

[2022-08-03 04:41] mthinh opened #277 "How to calculate contract address of starkPubKey ?"
I have starkPubKey generated from keypair which is also generated from my privateKey,
How could I calculate the contract address from that starkPubKey ?

[2022-08-03 11:31] leezijie commented on #277
You need deploy a account contract

[2022-08-03 13:32] janek26 opened #280 "Lets use 2 different (funded) wallets for our tests"
Currently the test run for for the sequencer provider and for the rpc provider share the same wallet and keypair for testing provided by `TEST_ACCOUNT_ADDRESS=` and `TEST_ACCOUNT_PRIVATE_KEY=`.

I propose to add a 2nd funded wallet (we need some more funds for the existing wallet too, as it's [almost empty](https://goerli.voyager.online/contract/0x06c0a3ca4f79e978f3b7005898aaa49bef4a24aeaa5f10c6a9

[2022-08-03 13:44] 0xs34n commented on #280
We can't run them in parallel in the same wallet because it would cause a nonce issue right?

Would it be wise to name the wallets more explicitly? like

[code]

[2022-08-03 13:51] janek26 commented on #280
Right, currently we limit the matrix to run maximum 1 job in parallel because otherwise we would get nonce issues
See https://github.com/0xs34n/starknet.js/blob/develop/.github/workflows/release.yml#L29

I opted for more general names to avoid having explicit mapping to sequencer/rpc in the secret name
This mapping would be done in the workflow file

By keeping it this way we can add more/less acc

[2022-08-03 14:14] 0xs34n commented on #280
Sounds good. Also, I added 0.015 ETH (max amount on layer swap) to the almost empty wallet.

[2022-08-03 14:26] 0xs34n commented on #280
rip

[2022-08-03 14:29] 0xs34n commented on #280
funded 0.25 eth in testnet

[2022-08-04 13:17] janek26 commented on #246
closed as it's part of shortsfring

[2022-08-04 13:17] #246 closed

[2022-08-04 13:20] janek26 commented on #245
closed due to inactivity

[2022-08-04 13:20] #245 closed

[2022-08-04 13:23] janek26 commented on #181
closed due to inactivity

[2022-08-04 13:23] #181 closed

[2022-08-04 13:23] janek26 commented on #32
implemented

[2022-08-04 13:23] #32 closed

[2022-08-04 13:25] janek26 commented on #172
should be solved as ledger was removed

[2022-08-04 13:25] #172 closed

[2022-08-04 13:26] janek26 commented on #160
answered :)

[2022-08-04 13:26] #160 closed

[2022-08-04 13:26] janek26 commented on #109
implemented.
Would be nice to revisit it properly at some point

[2022-08-04 13:26] #109 closed

[2022-08-04 13:27] #142 closed

[2022-08-04 13:29] #132 closed

[2022-08-04 13:30] #135 closed

[2022-08-04 14:27] ivpavici commented on #251
@paulmillr hi!
Here you can apply for contribution, to get compensation, through this portal: https://app.onlydust.xyz/contributions/7d2d8fa6-a35c-4797-a531-9c1b7f406686

[2022-08-05 10:44] wdev11 opened #281 "Backend signature verification"
Hello,
We're currently trying to implement an authentication workflow using the user's wallet signature.
We've managed to do it in the frontend side, but we're now struggling to implement its verification on the backend side.

Verifying the signature isn't a problem on the frontend since we do have the `account` instance so we can use `account.verifyMessage`.
How to do it on the backend side thoug

[2022-08-05 13:20] janek26 commented on #281
Hey! Because of account abstraction, signature validation needs to be done onchain!
You can call https://github.com/argentlabs/argent-contracts-starknet/blob/develop/contracts/ArgentAccount.cairo#L486 with the signature from anywhere

[2022-08-08 12:18] dhruvkelawala commented on #276
I can work on this

[2022-08-08 14:50] dhruvkelawala commented on #276
Data structure looks good to me.. maybe some issue with eykarCommunityContract? or eykarCommunityContract.address? Do you have your code somewhere which can help debugging the issue?

[2022-08-08 16:39] Marchand-Nicolas commented on #276
You're probably right, it was something like that. I recoded an example by hand and it works perfectly. Thanks!

Here is the code if it helps anyone:

[code]

[2022-08-08 16:39] #276 closed

[2022-08-09 04:42] rzmahmood commented on #119
[code]

[2022-08-09 10:49] ivpavici opened #283 "Support for StarkNet 0.10.0"
Specification:
https://starkware.notion.site/starkware/StarkNet-0-10-0-4ac978234c384a30a195ce4070461257

~~Planned release for the new StarkNet version is 22nd August~~
Planned release for the new StarkNet version is 29nd August

getNonce for sequencer:
https://github.com/0xs34n/starknet.js/pull/314

@dhruvkelawala will work on https://github.com/0xs34n/starknet.js/issues/316

[2022-08-09 14:06] ivpavici opened #284 "chainId of RpcProvider class not initalized"
From Consensys:
We're recently exploring the use of starknet.js v4.1.0 for calling node API via Infura node, but I found a potential bug that the "chainId" of the "RpcProvider" class is not initalized (remain as undefined) in the class constructor, and the reason is the use of async call inside the constructor:

Line 48 from rpc.ts:

[code]
The undefined value of chainId would lead to invalid sign

[2022-08-09 14:10] 0xs34n commented on #284
I tested this and I can confirm it's undefined

https://github.com/0xs34n/starknet.js/commit/575f4a737c2782413ec9912ed1281be86c302c9e

[2022-08-09 14:42] ivpavici opened #285 "`deployContract` of the `RpcProvider` throws an error"
From Consensys:

When using the "deployContract" function of the "RpcProvider" class, we always get the following error:

[code]

I think the root cause is that inside the function, `constructorCalldata` was converted to decimal string and passed to `starknet_addDeployTransaction`, but they should instead be in hex string...

[2022-08-12 11:13] leezijie opened #287 "When I deployed an account on the main network contract error"
`let keyPair = ec.genKeyPair()
    let starkPubKey = ec.getStarkKey(keyPair)
    const starkKeyInt = toBN(encode.removeHexPrefix(starkPubKey), 16);

    const compiledArgentAccount = json.parse(
        fs.readFileSync("./docs/newaccount.json").toString("ascii")
    )

    const provider = new Provider({network:'mainnet-alpha'})
    // const provider = new Provider({network:'goerli-alpha'})

    c

[2022-08-12 11:18] #275 closed

[2022-08-12 12:31] ivpavici commented on #287
Hi!
There's a whitelist of contacts for mainnet. Is this contract you want to deploy some special contract? There's a form you can fill in order to add it for mainnet: https://forms.reform.app/starkware/SN-Alpha-Contract-Deployment/l894lu

[2022-08-12 12:36] ivpavici commented on #281
@wdev11 I'm closing this, feel free to reopen if you have any more questions following @janek26's comment

[2022-08-12 12:36] #281 closed

[2022-08-12 12:39] ivpavici commented on #277
@mthinh As stated by @leezijie you first deploy an account, check out how this is done in the workshop repository https://github.com/0xs34n/starknet.js-workshop/blob/d1f51b81e724886d66895d27d08e668465631eb5/index.js#L47

[2022-08-12 12:51] ivpavici commented on #277
Although, I have to double check if possible in starknet.js, but there should be a way to calculate the address without deploying an account first, similar to https://docs.openzeppelin.com/cli/2.8/deploying-with-create2

[2022-08-12 13:23] ivpavici commented on #277
This should be it:
https://github.com/0xs34n/starknet.js/blob/f296554c48873f57eaeb879978ca43920ffbeebc/src/utils/hash.ts#L144

[2022-08-12 13:25] #277 closed

[2022-08-12 13:30] ivpavici commented on #249
@supsam89 closing this issue due to inactivity, feel free to reopen if any more questions arise!

[2022-08-12 13:30] #249 closed

[2022-08-13 13:17] ivpavici opened #289 "EventFilter type set to string instead of number"
It seems that `EventFilter` type is not correct in v4.3.0 of Starknet.js - type it requires is string for `fromBlock` and `toBlock`, but it should be a number.

https://github.com/0xs34n/starknet.js/blob/f296554c48873f57eaeb879978ca43920ffbeebc/src/types/api/rpc.ts#L101

[2022-08-15 02:06] leezijie commented on #287
Yes, I'm using the account contract code in the demo. I want to deploy it on the main network

[2022-08-15 02:07] leezijie commented on #287
Thanks a lot.
I'm using the account contract code in the demo. I want to deploy it on the main network

[2022-08-15 02:57] leezijie commented on #287
I want to use this contract, but I don't have its source code, do you know its source code.
https://github.com/0xs34n/starknet.js/blob/develop/__mocks__/Account.json

[2022-08-15 07:45] #287 closed

[2022-08-15 08:13] ivpavici commented on #287
afaik it is OpenZeppelin account implementation https://github.com/OpenZeppelin/cairo-contracts/tree/main/src/openzeppelin/account/presets

[2022-08-15 13:48] Marchand-Nicolas opened #291 "How can I do async transactions ?"
How can I do async transactions ? Because of the nonce, transactions are rejected

[2022-08-16 09:11] mthinh commented on #277
@ivpavici Tks, I have used this function but the output was not the same with the address I receive from `deployContract` response.
I used `contract` and `starkPubkey` as an input of `deployContract`.
then when I call
`calculateContractAddressFromHash(starkPubKey, undefined, [], 0)
`
Is this the correct way to calculate address ?

[2022-08-16 09:33] mthinh commented on #277
`
export  function calculateContractAddressFromHash(salt: BigNumberish, classHash: BigNumberish, constructorCalldata: RawCalldata, deployerAddress: BigNumberish): string;
`
Are `classHash`  `constructorCalldata` and `deployerAddress` always required ?
Sr I have no idea and where to get deployerAddress

Sr I'm really new to blockchain

[2022-08-16 12:15] envusr opened #292 ""Method not found" using getBlock with RpcProvider"
getBlock throws an error when using it with an RpcProvider

`Error: -32601: Method not found
    at RpcProvider.<anonymous> (/node_modules/starknet/dist/provider/rpc.js:91:35)`

but everything is fine with a default provider

[2022-08-16 14:29] dhruvkelawala commented on #277
Yes. deployerAddress is mostly the `factoryAddress`. You can learn more about Factory Pattern [here](https://betterprogramming.pub/learn-solidity-the-factory-pattern-75d11c3e7d29) .

Having said so, it doesn't HAVE to be a factory contract. If you are deploying a contract, you can just use your account address in deployerAddress.

[2022-08-17 01:48] mthinh commented on #277
@dhruvkelawala hmm, I don't really get you here, but let me tell you my context.
Im working on restoring a deployed account.
So I have a private key then I get a keypair and publicStarkKey from that private key tks to `ec.getKeyPair(privKey)` and `ec.getStarkKey(keypaird)` . The thing is how can I calculate my account address (the account that I had deployed before) from those two ?

[2022-08-17 03:32] mthinh opened #294 "Why I got this errorCode: 'StarknetErrorCode.NON_PERMITTED_CONTRACT' ?"
I'm learning blockchain and trying to run these code
`
const payload = {
    contract: {
      abi: ProxyContract.abi,
      program: ProxyContract.program,
      entry_points_by_type: ProxyContract.entry_points_by_type,
    },
    constructorCalldata: stark.compileCalldata({
      implementation: accountClassHash,
      entry_point_selector: selector,
      calldata: stark.compileCalldata({

[2022-08-17 08:24] ivpavici commented on #294
Hi!
In general, there's a whitelist of contacts for mainnet. There's a form you can fill in order to add it for mainnet: https://forms.reform.app/starkware/SN-Alpha-Contract-Deployment/l894lu

But regardless, this is not a starknet.js issue. Best to maybe ask in discord on the argent-x channel!

[2022-08-17 08:24] #294 closed

[2022-08-17 08:34] ivpavici commented on #292
Hello!
Can you please provide more code, how do you call `getBlock`? Since this method exists... Also, which version of starknet.js are you using?

[2022-08-17 10:46] ivpavici commented on #289
This was an issue at Pathfinder node, should be fixed in new release (on Infura) soon
https://github.com/eqlabs/pathfinder/blob/1e741dcb3bd4d23703c53909706f27082da0bddc/crates/pathfinder/src/rpc/types.rs#L147-L161

[2022-08-17 10:46] #289 closed

[2022-08-17 13:44] Marchand-Nicolas commented on #291
Here is how I execute the transaction :
[code]
but the problem is the nonce (the first transaction is accepted, the other are rejected because of the nonce)

[2022-08-17 13:47] Marchand-Nicolas commented on #291
Is it possible to count the nonce manually (knowing that the transactions can not be rejected by the contract, that only my account can and does the transaction, and this from a server)

[2022-08-17 14:39] retroboydev opened #296 "Changes of the `getTransactionReceipt` method response interface in v4.x.x"
I'm not very good at typescript, but I will try to explain.

Here's an example of the code:

[code]

Here's [the interface](https://github.com/0xs34n/starknet.js/blob/v3.18.2/src/types/api.ts#L257) of the response of the `.gettransactionReceipt` method in v 3.18.x:

[code]

However, in version v4.x.x that interface was replaced with [this one](https://github.com/0xs34n/starknet.js/blob/efee0ac47b3

[2022-08-17 14:45] Marchand-Nicolas commented on #291
This is how I define the nonce :
[code]

[2022-08-18 15:47] a35026 opened #299 "Signing an execute transaction with multicall"
I'm trying to implement a multicall on the frontend
[code]
This doesn't invoke Argent X popup window for signing
But passes through and gives me a tx hash with rejected status:
[code]
How can I sign this transaction on the frontend?

[2022-08-18 20:59] envusr commented on #292
I'm using starknet v4.3.0
here is how I call getBlock:
`import { RpcProvider } from 'starknet';
const providerConfig1 = {
	nodeUrl: url
};
const provider1 = new RpcProvider(providerConfig1);
provider1.getBlock(150000).then(console.log);`
or
`import { Provider } from 'starknet';
const providerConfig2 = {
	rpc: {
		nodeUrl: url
	}
};
const provider2 = new Provider(providerConfig2);
provider2.getBloc

[2022-08-19 14:23] envusr commented on #292
hi, I just found the problem
starknet hasn't been updated for pathfinder v0.3.0
e.g. for getBlock with an rpc provider, starknet tries to call either `starknet_getBlockByHash` or `starknet_getBlockByNm
umber` depending on the type of blockIdentifier (can be a hash or a number), but both methods have been deleted in [v0.3.0 of pathfinder](https://github.com/eqlabs/pathfinder/releases/tag/v0.3.0-alp

[2022-08-19 14:24] envusr commented on #292
hi, I just found the problem
starknet hasn't been updated for pathfinder v0.3.0
e.g. for getBlock with an rpc provider, starknet tries to call either `starknet_getBlockByHash` or `starknet_getBlockByNumber` depending on the type of blockIdentifier (can be a hash or a number), but both methods have been deleted in [v0.3.0 of pathfinder](https://github.com/eqlabs/pathfinder/releases/tag/v0.3.0-alpha

[2022-08-19 14:25] envusr commented on #292
hi, I just found the problem
starknet hasn't been updated for pathfinder v0.3.0
e.g. for getBlock with an rpc provider, starknet tries to call either `starknet_getBlockByHash` or `starknet_getBlockByNumber` depending on the type of blockIdentifier (can be a hash or a number), but both methods have been deleted in [v0.3.0 of pathfinder](https://github.com/eqlabs/pathfinder/releases/tag/v0.3.0-alpha

[2022-08-19 14:30] envusr commented on #292
hi, I just found the problem
starknet hasn't been updated for pathfinder v0.3.0
e.g. for getBlock with an rpc provider, starknet tries to call either `starknet_getBlockByHash` or `starknet_getBlockByNumber` depending on the type of blockIdentifier (can be a hash or a number), but both methods have been deleted in [v0.3.0 of pathfinder](https://github.com/eqlabs/pathfinder/releases/tag/v0.3.0-alpha

[2022-08-22 06:25] dkillen commented on #285
This looks like a blocker for the Truffle team too. I've encountered the same error in my project attempting to deploy an OZ account contract with the RPC provider. The project that I am currently working on needs to allow the user to choose whether to use an RPC provider or Sequencer provider. Is there any chance this will be fixed soon?

[2022-08-22 08:33] janek26 commented on #285
@dkillen we’re also happy about every PR!

[2022-08-22 10:24] ivpavici commented on #296
Hi! These are missing here from the rpc, and is a bug:
https://github.com/0xs34n/starknet.js/blob/efee0ac47b380eb2b1d187a7678a2f5ed068f598/src/types/api/rpc.ts#L55

But still, a question from us: do you want to use the rpc or the sequencer provider?

[2022-08-23 18:40] retroboydev commented on #296
@ivpavici thank you for your response.

I've been working with starknet not so far and I'm not sure that I clearly understand the difference between them yet. We receive the provider object from `window.starknet.provider` (it may be created by ArgentX or Bravoos) and provide it to your constructor function:
[code]
Not sure what type of provider it is. As far as I can see in your code, in this case

[2022-08-23 19:46] tabaktoni commented on #296
Can you show log of window.starknet.provider

[2022-08-23 23:17] dkillen commented on #285
Hi @ivpavici

The project I am working on is currently using the OZ Cairo contracts v0.3.1. I am just using the basic Account preset:

[code]

I am first instantiating a Provider based on the users config (either rpc or sequencer):

[code]

The configuration file provides the following:

[code]

Account keys are generated with the following:

[code]

Contract is deployed with the following:

[code

[2022-08-24 07:46] #292 closed

[2022-08-24 10:53] ivpavici opened #305 "Add missing tests for RPC methods `getBlockTransactionCount`"
After PR: https://github.com/0xs34n/starknet.js/pull/301
New rpc methods were added without unit tests.

[2022-08-24 10:58] ivpavici opened #306 "Refactor BlockIdentifier"
Currently it is a bit untidy with `BlockIdentifier` and `BlockIdentifierClass`, think about how to unify...
https://github.com/0xs34n/starknet.js/blob/b20819424dea824c96ac31e0542733c84d87d441/src/provider/utils.ts#L41

[2022-08-25 14:24] jonesho commented on #285
@ivpavici just to add more context, for the use case of StarkNet MM snap, our call patten is similar:
`const provider = getProvider(network);
  return provider.deployContract({
    contract,
    constructorCalldata,
    addressSalt,
  });`

I was able to fix this issue locally by changing the rpc.ts line#184 as:
`bigNumberishArrayToHexStringArray`
which is a simple helper function I created simila

[2022-08-25 14:47] jonesho commented on #284
@ivpavici I just try to reproduced it in starknet.js v4.3.0 but failed to do so for many attempts, but I think the problem is still here but it's not very easy to reproduce and a bit elusive: e.g. if I have the following codes:
`const provider = new Provider(rpcParam);
  console.log(`**** chainId: ${provider.chainId} ****`);`
I would always see the print log showing chainId as undefined, because t

[2022-08-26 02:01] dkillen commented on #285
@jonesho & @ivpavici I came to a similar solution and have submitted a PR to fix this bug.

[2022-08-26 03:56] mthinh opened #310 "Cannot found entry point in account class hash"
`
const contract = new Contract(
    ERC20ABI as Abi,
    tokenAddress,
    account.provider
  );

  const res = await contract.balanceOf(account.address);

  [GatewayError: Error at pc=0:104:
Got an exception while executing a hint.
Cairo traceback (most recent call last):
Unknown location (pc=0:1678)
Unknown location (pc=0:1664)

Error in the called contract (0x49d36570d4e46f48e99674bd3fcc84644d

[2022-08-26 12:15] ivpavici commented on #285
Thanks @dkillen and @jonesho ! We have to do some more refactoring and changes regarding RPC and providers in general (mentioned here https://github.com/0xs34n/starknet.js/pull/307), and we will incorporate these changes also!

[2022-08-26 12:24] ivpavici commented on #310
Hi! The details for this are not very understandable from my point of view, and I'm not sure how to reproduce this without more details...
Maybe discord is better for these kinds of questions, and to leave issues for errors regarding the library itself... As you said, it works on iOS but not on Android...
You can also ask on starknet-react channel!

[2022-08-26 14:33] iamvukasin opened #311 "Fee estimation throws an error: signature is invalid"
I want to estimate the fee for ERC20 `transfer` function, for example:

[code]

but I'm always getting `signature is invalid` error:

[code]

I even tried to run the code on StarkNet devnet, but I got the same error. Also, I checked the signature for the hash with the wallet's `is_valid_signature` on Voyager and it was failing with the same message. Any ideas about what's causing problems?

Starkn

[2022-08-26 14:58] ShawTim commented on #311
i meet the same problem for this. will be lovely if i can hv some ideas on what's happening

[2022-08-29 08:09] ivpavici commented on #311
Hi @ShawTim @iamvukasin , you mention version 3.18.2, is the same thing happening on the latest version, [4.3.0](https://github.com/0xs34n/starknet.js/releases/tag/v4.3.0)?
You can get it with `npm install starknet@next`

[2022-08-29 15:07] iamvukasin commented on #311
I tried to experiment more and it looks like functions (in this case `contract.estimateFee.transfer`) are not accepting `string` arguments that start with `0x`. I tried to drop the prefix, but I'm getting (both 3.18.2 and 4.3.0):

[code]

It looks like `Uint256` is not parsed properly. I tried standard ERC20 contract and some private ones that had functions with address and `Uint256` arguments. FY

[2022-08-30 13:01] ivpavici commented on #283
https://github.com/starkware-libs/cairo-lang/releases/tag/v0.10.0-pre

[2022-09-01 13:35] #285 closed

[2022-09-01 14:50] dhruvkelawala opened #316 "Update Account Interface to be compatible with starknet 0.10.0"
With the starknet version 0.10.0, new transaction version (version 1) has been introduced. The new transaction version has the following major changes:

1. `entry_point_selector` has been removed from **invokeFunction** transaction call and `__execute__` is now the default entrypoint for all transactions going through the account contracts.
2. `nonce` field is added in **invokeFunction** which is

[2022-09-02 08:49] ivpavici opened #317 "Add tests for RPC `getEstimateFee` and `invokeFunction` methods"
Missing in rpcProvider.test.ts

[2022-09-07 14:04] ivpavici opened #323 "RPC provider support optional field for "abi" in `deployContract`"
`starknet_addDeployTransaction` and `starknet_addDeclareTransaction` allow an optional abi field
^ from [pathfinder docs](https://github.com/eqlabs/pathfinder#transaction-write-api)

Introduce these changes, at least for `starknet_addDeployTransaction` before we add full support for all rpc changes

[2022-09-08 13:43] #323 closed

[2022-09-09 06:33] Shinwari536 opened #328 "Declare contract returns error"
`Error: BadRequest: HTTP error ocurred. Status: 500. Text: {"code": "StarknetErrorCode.ENTRY_POINT_NOT_FOUND_IN_CONTRACT", "message": "Entry point 0x289da278a8dc833409cabfdad1581e8e7d40e42dcaed693fa4008dcdb4963b3 not found in contract with class hash 0x6a2c4510a0eb1bbcb75b66b23b9f3897c43644b1c86c2547cbe708f97c8f18b."}
`

Getting the following error when declaring  the AMM compiled code [here](http

[2022-09-09 07:06] ivpavici commented on #328
Hello!
This is not related to the starknet.js library as far as I can see (I guess you are following this tutorial https://starknet.io/docs/hello_starknet/intro.html)! Please seek help on discord!

[2022-09-09 07:06] #328 closed

[2022-09-09 09:38] #284 closed

[2022-09-09 11:50] Shinwari536 commented on #328
@ivpavici I am unable to join starknet discord. Can you please in this regard. Yes, I am following the same link tutorial you shared.

[2022-09-11 13:15] asaroukou commented on #253
Hi. I'm working on this issue assigned to me from [olydust](https://app.onlydust.xyz/contributions/0x002d)

I'm wondering, how to make all the tests pass since number of methods seems to be unavailable on devnet.

[2022-09-12 08:41] ivpavici commented on #253
Hi @asaroukou , you can try with testnet?
But what is the issue you are facing? get_block_traces exists on devnet

[2022-09-13 08:51] ivpavici commented on #305
`getBlockWithTxs` test added in https://github.com/0xs34n/starknet.js/pull/329

[2022-09-13 13:00] tabaktoni commented on #311
This could be related to fix https://github.com/0xs34n/starknet.js/pull/326 if rpc but need validation

[2022-09-14 12:42] cwkang1998 commented on #36
would love to help on this, any specific docs that you would like to see added?

[2022-09-14 15:47] cwkang1998 commented on #203
Since this is not picked up yet, may i try working on it?

[2022-09-15 07:46] #306 closed

[2022-09-15 07:46] #305 closed

[2022-09-15 08:23] ivpavici commented on #36
Hi @cwkang1998 , thanks for reaching out! Anything you think of will be helpful, but I can write here when I get some ideas. For example I have a plan to write a guide about how to run local tests when changing starknet.js code, hope to do it next week

[2022-09-15 08:25] ivpavici commented on #203
Hi @cwkang1998 ! This task was assigned through OnlyDust https://app.onlydust.xyz/contributions/0x0049 to a user... But he didn't reach out or anything, so I guess you can do it, and we can probably ask Only dust to give you the reward

[2022-09-16 07:02] ivpavici commented on #296
This one could possibly be fixed with the new version [4.6.0](https://github.com/0xs34n/starknet.js/releases/tag/v4.6.0)
@retroboydev can you try ?

[2022-09-16 07:13] #283 closed

[2022-09-16 07:13] #316 closed

[2022-09-18 08:33] retroboydev commented on #296
@ivpavici sorry, no changes
![image](https://user-images.githubusercontent.com/109076629/190893173-86ab3e4f-4f42-43de-b81d-011e1af83e58.png)
![image](https://user-images.githubusercontent.com/109076629/190893207-4ec2a4d3-67bc-4ef5-98ef-1fed13ebaeb8.png)

[2022-09-20 07:50] mohammedi-haroune opened #336 "starknet.js is not working from CDN"
I want to use starknet.js in a simple web app built with vanilla HTML/CSS/JS with nothing like npm, yarn, webpack, react ....

The first way that come to mind is to use a complied and minified Javascript hosted on some CDN which I did and got the following error in the browser console:

[code]

## Reproduction
Create an HTML file with the following content and open it in the browser, open the cons

[2022-09-21 12:58] tabaktoni commented on #336
Notices same Issue when doing local npm link and run in browser js app.

[2022-09-21 22:40] mohammedi-haroune commented on #336
Yes. Same for me, I tried to build the npm package and use the the resulted `index.js` file and had the exact same problem. I also think this could be solved with some `tsconfig.json` tweaking, this is literally blocking the development of our project, do you have an idea about when could we expect a solution for it ?

[2022-09-21 23:19] janek26 commented on #336
as an open source project, we‘re always happy about contributions!

[2022-09-22 07:59] mohammedi-haroune commented on #336
Sure, although I'm not a Javascript/Typescript dev myself I tried to solve the problem by Googling, Stackoverflow without success, I also reached out to some Frontend devs I know to see if they have anything to suggest, nothing worth sharing for the moment but I'll definitely contribute the solution If I found any

I'm also open for your directions and suggestions on what you suspect could be the

[2022-09-22 14:01] tabaktoni opened #337 "Declare Transactions v1"
- declare transaction should now be sent from an account (and is validated using __validate_declare__ in the account contract)
- should remove declare from providers (RPC and sequencer)

- enable estimate fee on declare transaction v1 from an account contract

[2022-09-22 14:09] tabaktoni opened #338 "simulate_transaction"
Sequencer:
simulate_transaction - Simulates the transaction and returns the transaction trace and estimated fee (see [here](https://www.starknet.io/docs/0.10.0/hello_starknet/cli.html#simulate-transaction))

Like estimateFee but with different response.

[2022-09-22 14:09] tabaktoni opened #339 "estimate_message_fee"
estimate_message_fee - Estimates the message fee (see [here](https://www.starknet.io/docs/0.10.0/hello_starknet/l1l2.html#estimate-message-fee))

[2022-09-22 14:13] tabaktoni opened #340 "Sequencer API changes"
New fields in sequencer TransactionTrace: validate_invocation and fee_transfer_invocation.

[2022-09-22 14:24] tabaktoni commented on #291
What do you mean by async transactions? do you mean like sending bulk transactions ?
Is this still the issue with latest version?

[2022-09-22 14:26] ivpavici commented on #311
@iamvukasin can you try maybe with the 4.6 or 4.7 version?

[2022-09-22 17:22] ivpavici commented on #338
#339 and #340 should probably be dealt with first, and then this issue

[2022-09-22 19:35] clexmond opened #341 "Merkle tree hash sorts by string rather than int"
Currently leaves are sorted in string order prior to hashing. This is at odds with any on-chain verification of a Merkle proof where they will be necessarily sorted as felts / numbers. This results in it becoming increasingly likely a proof will fail the larger it is (i.e. with two unsorted or four sorted leaves there's already a 50% chance the root / proof will be miscalculated).

https://github.

[2022-09-23 09:41] tabaktoni commented on #119
I don't know if are there use cases for this but as a method, we can have it in both providers, I see no reason for this not to be implemented.
Ideally, this would be implemented true WebSocket for RPC but until we get to Nodes with it we can provide this?
@rzmahmood Can you create PR for this?
Or if not we can close the Issue until someone ask for it?

[2022-09-23 09:46] tabaktoni commented on #36
- There are shortString in Utils undocumented and maybe some other Utils methods also.
- RPC docs need to be updated (check one by one method)

[2022-09-23 13:25] tabaktoni commented on #251
This Issue is Assigned to @katsumotoeth but there seems like no activity around it. Can we reassign it to @paulmillr true only dust?

[2022-09-23 14:45] tabaktoni opened #344 "Update tests to use Json Object Schemas for validation"

[2022-09-23 16:08] gianlukk994 commented on #281
Hey! I'm jumping here because I'm stuck implementing the off-chain verification.
Is it still not possible?

FYI This link https://github.com/argentlabs/argent-contracts-starknet/blob/develop/contracts/ArgentAccount.cairo#L486 returns 404.

Thanks!

[2022-09-24 09:09] Marchand-Nicolas commented on #291
I mean, sending transactions one after the other, without waiting for each transaction to be completed before sending the next. The problem is the nonce. But I don't want to do multicall because I don't want to send the transactions at the same time.

[2022-09-24 11:55] janek26 commented on #291
why wouldnt you send them all at once?

[2022-09-24 15:08] Marchand-Nicolas commented on #291
Because I want to make a transaction every time X event happens, without waiting

[2022-09-26 08:22] #341 closed

[2022-09-26 09:54] Agostin commented on #281
Hey there!
I'm also looking for a solution to this problem: do you please have any news about it? 🙏🏻

@gianlukk994 I guess the correct page that @janek26 was linking is [this](https://github.com/argentlabs/argent-contracts-starknet/blob/develop/contracts/account/ArgentAccount.cairo).

[2022-09-26 10:37] ivpavici commented on #281
@Agostin  @gianlukk994  I honestly don't know, but I didn't hear anything change about this in the meantime... so I guess this is how it works (on-chain)

[2022-09-26 11:51] #340 closed

[2022-09-26 12:51] gianlukk994 commented on #281
@ivpavici Many thanks for your help here and on Discord!
@Agostin, thanks for the link!

[2022-09-26 13:01] tabaktoni commented on #291
This is probably not possible because the nonce is incremented by the account by the transaction request.
Regarding further discussion it can be done here with the starkware team:
https://community.starknet.io/t/starknet-account-abstraction-model-part-1/781/16

Closing as it is not issue with starknet js implementation

[2022-09-26 13:01] #291 closed

[2022-09-26 13:01] tabaktoni commented on #291
Closing as it is not issue with starknet js implementation

[2022-09-27 08:30] #296 closed

[2022-09-28 11:47] #189 closed

[2022-09-29 13:57] tabaktoni opened #348 "sequencer getBlock response missing data"
From BearSurvivor Discord
https://discord.com/channels/793094838509764618/927918707613786162/1023540122152620062

This doesn't returns the gas_price.... is there another way to find out the gas_price for the block?
[code]
-----------

The cause is from parseGetBlockResponse dropping some response props.

[2022-09-29 16:47] #348 closed

[2022-10-01 04:53] broody opened #350 "Support for getClass and getClassHashAt"
Hello, currently Starknetjs only supports `getClassAt`, would be great to also have `getClass` and `getClassHashAt`. I can submit a PR to add these. Thanks

[2022-10-01 08:23] ivpavici commented on #350
Hello, which starknet.js version are you using?

We support all the methods you mentioned in the RPC provider

[2022-10-01 17:23] tabaktoni commented on #350
Try to use starknet@next or 4.7.0.
You could create PR updating project documentation.
Thanks for feedback.

[2022-10-02 04:05] broody commented on #350
Ahh got it, completely missed that. Thanks! Happy to update the doc

[2022-10-02 04:05] #350 closed

[2022-10-04 15:36] wraitii opened #352 "GetTransaction and/or GetTransactionReceipt should return the block_hash and block_number of accepted transactions"
There are currently no functions in Starknet.js's Provider class to get the block hash/block number of a successful transaction.
However, the feeder gateway (and I suspect RPC endpoints) do provide that information in both `GetTransaction` and `GetTransactionReceipt` endpoints.

This is true of Starknet.js 3.19 and of latest development version as far as I can tell.

The simplest solution would be

[2022-10-10 15:22] ivpavici opened #354 "StarkNet 0.10.1 adaptations"
Details:
https://starkware.notion.site/starkware/StarkNet-0-10-1-07b5c6d433464c61bf035037b8113b7b

- [ ] DEPLOY_ACCOUNT
- [ ] The `entry_point_type` field is removed from invoke transactions (this affects the `get_block` and `get_transaction` feeder gateway endpoints). Note that this information is now reflected by the transaction type, hence the field is redundant.
- [ ] The `entry_point_selector

[2022-10-13 03:36] smichea commented on #336
+1

[2022-10-13 12:59] tabaktoni commented on #352
After testing it seems that Sequencer and Sequencer over Provider both return block_hash and block_number.
But for RPC and RPC over Provider both don't.
Thank you @wraitii for reporting, this will be fixed.

[2022-10-14 07:17] archseer opened #359 "new Contract() address no longer optional"
Since the 0.10 support PR, `toLowerCase()` is called on `address` which blows up if address isn't defined. It's marked as optional in the documentation.

https://github.com/0xs34n/starknet.js/blob/0f685efbf0c39b80329db77fda5e1d0dfc4177e0/src/contract/default.ts#L116-L129

[2022-10-14 08:35] tabaktoni commented on #359
Thank you for reporting

[2022-10-14 09:50] #359 closed

[2022-10-14 19:27] ivpavici opened #361 "Add `get_class_by_hash` to Sequencer provider"
https://github.com/starkware-libs/cairo-lang/blob/54d7e92a703b3b5a1e07e9389608178129946efc/src/starkware/starknet/services/api/feeder_gateway/feeder_gateway_client.py#L199

[2022-10-17 06:02] #352 closed

[2022-10-17 09:56] iamvukasin commented on #311
@ivpavici Unfortunately, still the same problem:

[code]

[2022-10-17 10:03] dhruvkelawala commented on #311
Please link the ERC20 contract that you are using and the address of the account that you are using to sign the transaction

[2022-10-18 09:24] #337 closed

[2022-10-18 10:59] ivpavici opened #362 "polish: Remove docs in code which are duplicated from the provider interface"
+ double check with documentation page what is missing

[2022-10-18 13:18] iamvukasin commented on #311
I got this error

[code]

with account address `0x06C364fa52256aA61CFa0C8A38e34F24cD87AE84E4e6ae14064CB2dF9F0dc6FB` and contract `0x049d36570d4e46f48e99674bd3fcc84644ddd6b96f7c741b1562b82f9e004dc7` on version 4.7. I even tested with our custom contracts and still same errors.

[2022-10-18 19:14] tabaktoni opened #363 "Explore Transactions Interface"
I don't see the reason why we split Transaction into two parameters payload and detail, when it could be one called transaction: type.
Extraction of optional props to the second parameter doesn't reduce code complexity as the optional parameter has multiple optional props so, in the end, they all need to be checked same way as you would check if thay are all part of one object, but this adds unnec

[2022-10-19 11:20] #354 closed

[2022-10-19 12:15] #362 closed

[2022-10-23 17:16] danikula commented on #36
Documentation doesn't describe how to get account's balance. Could anybody help with it?

[2022-10-24 07:26] ivpavici opened #369 "Check PENDING and LATEST block params"
There are some problems when expecting the statuses of blocks in tests.

If there is no block status then LATEST is used, which can cause tests to fail

[2022-10-24 10:10] ivpavici opened #370 "Support deploy via Universal Deployer Contract"
https://github.com/OpenZeppelin/cairo-contracts/blob/main/src/openzeppelin/utils/presets/UniversalDeployer.cairo

https://community.starknet.io/t/universal-deployer-contract-proposal/1864/35

[2022-10-24 15:56] ivpavici commented on #203
This will be worked on the upcoming hackathon (28., 29. 10.)

[2022-10-24 16:05] janek26 commented on #203
very nice, maybe you can consider useing something like https://github.com/wagmi-dev/abitype while hacking! hf!

[2022-10-24 16:09] fracek commented on #203
I [started experimenting exactly with that abi](https://github.com/apibara/starknet-react/tree/abi-type/packages/abi/src), if anyone works on this they can use it as a starting point.

The challenge will be with tuples (my tip is to generate types for (`(${string}, ${string}) | (${string}, ${string}, ${string})` and so on) and with arrays (because they have two fields in the abi.

[2022-10-25 03:44] 17621859515 opened #371 "How to deploy an account contract？"
I followed the tutorial to deploy the account contract and got the following failed transaction.
I don't know where is the error.

https://testnet.starkscan.co/tx/0x57857b0662751e9dee00be7940caa8d1cabdbeca46c38b662aa50a3401d63df
![image](https://user-images.githubusercontent.com/69946784/197677413-3656ff92-c8ac-4606-bf0c-3487c7917587.png)

[2022-10-25 07:49] tabaktoni commented on #371
What version of starknetjs do you use?
I believe you are missing at least nonce for the details parameter and in payload classHash.

I recommend you to go true Account using - deployAccount

[2022-10-25 08:39] 17621859515 commented on #371
![image](https://user-images.githubusercontent.com/69946784/197725664-53192241-0ec3-4baa-b4ff-6c90b279dc31.png)
"starknet": "^4.9.0"

I don't understand what you mean, I don't know how to do it.
I just want to generate the staknet address correctly for transfers and balance inquiries.

[2022-10-25 12:01] cwkang1998 commented on #203
Sorry, I was busy, but go ahead! All the best in the hackerthon!

[2022-10-26 06:57] Nathan-SL opened #372 "Found issue from ts-custom-error on v3.2.0"
Encountered an issue when using lib `"ts-custom-error": "^3.2.0",`
[code]
Here's a fix suggested to set it at "3.2.2"  https://github.com/adriengibrat/ts-custom-error/issues/81

[2022-10-27 13:35] tabaktoni opened #374 "Missing Option Token from Sequencer"
**Sequencer**
endpoint add_transaction has a second optional parameter token that would create endpoint requests like:
[code]
https://github.com/starkware-libs/cairo-lang/blob/0ba3ff59c1c86f2a30adc8fd144eaacb22c48ce9/src/starkware/starknet/services/api/gateway/gateway_client.py#L14

**RPC**
It seems to me that RPC does not have such an option

How to Resolve:
Add missing token parameter to Sequenc

[2022-10-28 11:24] penovicp commented on #336
If you need this feature ASAP there is a draft PR linked to this issue that can help you get unblocked. If you switch to the corresponding branch and execute `npm run build -- --platform browser` it should result in a `dist/index.global.js` file that can be used in the way described in the opening comment.

[2022-10-28 14:37] Sandeep0322 opened #380 "ETH transfer"
/Users/apple/Documents/starknet.js-workshop/node_modules/starknet/dist/provider/sequencer.js:394
                            error = new Error(message);
                                    ^

Error: REJECTED: TRANSACTION_FAILED
Error at pc=0:91:
Got an exception while executing a hint.
Cairo traceback (most recent call last):
Unknown location (pc=0:739)
Unknown location (pc=0:682)
Unknown location

[2022-11-01 20:29] adriengibrat commented on #372
Sorry about that :/ v3.3.1 should build and offer compatibility with Error cause https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Error/Error#rethrowing_an_error_with_a_cause

[2022-11-04 14:42] ethangao commented on #380
Same error here when transfer.

[2022-11-07 09:09] penovicp commented on #361
I'll look into this.

[2022-11-07 09:27] #370 closed

[2022-11-08 10:13] 0xBenaparte opened #382 "Add a starknet id hook to starknet js"
Hey I'm ben from [starknet id. ](https://github.com/starknet-id). We're building the identity service and naming service of starknet.

Some of our partners (realms and cartridge in particular) asked us to make some hooks directly in starknet js to access domain names from a particular address and vice-versa.

Here is an example of the hook we want to make :

[code]

In the other sense, we have :

[2022-11-08 12:03] ivpavici commented on #382
Hey @0xBenaparte ! I remember this topic!
From my side, I'm ok with you contributing it if you want to... Regarding only dust, I don't have anyone to recommend currently for contribution, but if you have, that is also ok from my side!

[2022-11-08 12:24] fracek commented on #382
This would be good to have in starknet.js! Then it's super easy to add it to starknet-react too to have react hooks.

[2022-11-08 12:40] 0xBenaparte commented on #382
Yep we did the wrong way Francesco haha, we should have done it directly here and then do it in starknet-react ;)

[2022-11-09 09:07] ivpavici commented on #317
https://github.com/penovicp test

[2022-11-09 12:22] dhruvkelawala commented on #361
We also need this feature as a priority. Turns out we already have it in the api https://github.com/0xs34n/starknet.js/blob/f168beba86d2a5122b8d3fb5728574f0510b9394/src/types/api/sequencer.ts#L337 . Just need to implement it.

@penovicp If you are busy with something, let me know, I can work on this

[2022-11-09 13:49] ivpavici opened #388 "Support estimate_fee_bulk API"
Support estimate_fee_bulk API that computes the fee of multiple transactions that will be executed consecutively

It came out with cairo 0.10.2

https://github.com/starkware-libs/cairo-lang/blob/f951a669e264796d53bf7a3cfd23d5bc1f6e54b8/src/starkware/starknet/services/api/feeder_gateway/feeder_gateway_client.py#L68

[2022-11-10 14:24] yoga-braavos opened #391 "Estimate fee does not use feeTransactionVersion"
The `estimate*Fee` functions (e.g. `estimateInvokeFee`) at `src/account/default.ts` use `transactionVersion` instead of `feeTransactionVersion`. for instance: [here](https://github.com/0xs34n/starknet.js/blob/feec75e5cef3c71ae9a751ba521f101a154f2af6/src/account/default.ts#L66)

This is inconsistent with `cairo-lang` behavior and does not allow differentiation between "querying" the contract via th

[2022-11-10 14:40] yoga-braavos commented on #388
@ivpavici , would be great to address https://github.com/0xs34n/starknet.js/issues/391 as part of this..

[2022-11-10 14:47] tabaktoni opened #394 "RPC Tests uses Sequencer Endpoints 💥"
One month ago I noticed this during local testing but ignored it at the moment due to other emerging issues.
It seems that RPC tests are run partially on Sequencer endpoints and all due to failed logic in the parsing of the constructor for the new provider.

Draft PR Related to Changes: https://github.com/0xs34n/starknet.js/pull/393
Will need to pass true all RPC Calls

[2022-11-10 17:02] janek26 commented on #391
good catch! PR appreciated

[2022-11-10 23:08] yoga-braavos commented on #391
@janek26 see #395

[2022-11-11 19:14] yoga-braavos commented on #391
@dhruvkelawala it works because 'estimate_fee' endpoint does not limit calls using transaction version 1 (or 0) but 'add_transaction' does limit transactions to be either 0 or 1 (i.e. non estimate fee transaction version)

There was an issue with OZ contract that asserted on txn version = 1 which caused it to fail. It was fixed in this PR there: https://github.com/OpenZeppelin/cairo-contracts/pull

[2022-11-11 23:27] #391 closed

[2022-11-11 23:28] #361 closed

[2022-11-15 17:47] ivpavici commented on #338
https://www.starknet.io/docs/0.10.0/hello_starknet/cli.html#simulate-transaction

[2022-11-16 09:21] 0xBenaparte commented on #382
Hey Guys,

I'm starting the integration today and when I’m running test I can not access the endpoint with POST and GET transaction  (I guess it's normal).

Any advice on how to access it in order to test my functions correctly ? Thanks.

Here is the error that I have when I do `npm run test` : `reason: connect ECONNREFUSED 127.0.0.1:5050`.

[2022-11-16 10:40] ivpavici commented on #382
_Here is the error that I have when I do npm run test : reason: connect ECONNREFUSED 127.0.0.1:5050._

We had a chat on telegram regarding this!

[2022-11-18 01:53] solimander commented on #311
I'm seeing the same behavior on 4.9. It appears the message hash that's being signed is different than the message hash that's displayed on Voyager. Continuing to look into it.

[2022-11-19 11:27] delaaxe opened #401 "Inconsistent `chainId` handling"
When reading a provider's `chainId` you get a hex value:
[code]

But to instantiate a provider you need to pass a chain name:
[code]

Is it possible to create providers with the hex value or is this due to some difference between sequencer nodes and Pathfinder ndoes?

[2022-11-21 10:16] #336 closed

[2022-11-21 15:03] ivpavici commented on #251
Related
https://github.com/paulmillr/micro-starknet

[2022-11-21 15:10] ivpavici opened #404 "replace `bn.js` by native `BigInt`"

[2022-11-21 15:17] ivpavici opened #405 "replace functions `@ethersproject/bytes`"
Replace most of our utils functions, like:

- @ethersproject/bytes

...by using the audited `noble` and `scure` packages by https://github.com/paulmillr (base64, utils like utf8tohex etc) **that are potentially not covered through** https://github.com/0xs34n/starknet.js/issues/407

[2022-11-21 15:19] ivpavici opened #406 "replace `minimalistic-assert`"
replace minimalistic assert by own implementation (https://github.com/calvinmetcalf/minimalistic-assert/blob/master/index.js)

[2022-11-21 15:22] ivpavici opened #407 "Replace cryptography utils with `micro-starknet`"
Once https://github.com/paulmillr/micro-starknet is ready, replace all related cryptography utils with this library

[2022-11-21 15:26] #103 closed

[2022-11-21 15:28] tabaktoni commented on #401
You can create providers in multiple ways. One you are describing is to create SequencerProvider which has nothing to do with Pathfinder nodes.

We could extend it by enabling SequencerProvider using chainId also.
[code]
Is this what you are proposing?
Can you elaborate use-case for this?

Thank you for your feedback

[2022-11-21 16:04] ivpavici commented on #369
Will be handled by StarkWare, on hold until then

[2022-11-22 09:31] ivpavici opened #409 "Replace all `contractDeploy` calls in tests with `deployAccount`"

[2022-11-22 23:21] Sekhmet opened #411 "Invalid TypeScript declaration files in 4.13.0 release"
Starting with 4.13.0 release `dist` contains only bundled `index.js` and `index.d.ts` instead of whole directory tree from previous versions.

This generated `index.d.ts` isn't valid (with `typescript` 4.7.3 and 4.9.3).

[code]

 To reproduce, try building TS project that uses `starknet@4.13.0` for example [this](https://github.com/snapshot-labs/checkpoint/compare/sekhmet/starknet-upgrade?expand=1

[2022-11-22 23:28] ivpavici commented on #411
Thanks! cc: @penovicp

[2022-11-23 05:42] penovicp commented on #411
Looks like it's down to how `rollup-plugin-dts` does the bundling for nested namespaces. I'll see if it can be avoided and if not add a script to adjust the `.d.ts` with the changes that @Sekhmet identified.

[2022-11-23 10:38] ivpavici commented on #411
@Sekhmet please check with the new release https://github.com/0xs34n/starknet.js/releases/tag/v4.13.1

[2022-11-23 11:25] Sekhmet commented on #411
@ivpavici it works with `4.13.1`, thanks!

[2022-11-23 11:25] #411 closed

[2022-11-24 12:12] iamvukasin opened #414 "`starknet_getEvents` properties changed with RPC API Specification v0.2.0"
As you may know, [API Specification](https://github.com/starkware-libs/starknet-specs/) v0.2.0 removed `starknet_getEvents`' properties `page_size` and `page_number` and introduced `continuation_token` and `chunk_size` as replacements. Since Infura switched to RPC v0.2.1 two days ago, I started experiencing `starknet_getEvents` errors due to an unmatched interface.

[2022-11-24 12:19] #414 closed

[2022-11-24 12:21] iamvukasin commented on #414
I see it implemented in the `develop` branch. Waiting for the release.

[2022-11-25 03:18] Eric-ett opened #417 "The getTransaction method throws an error"
I use the Starknet4 SDK to send the transaction and call sdk getTransaction, the sdk throws an exception, the error is as follows:
access - Starknet Send After GetTransaction Erro: TypeError: Cannot use 'in' operator to search for 'calldata' in undefined
    at SequencerAPIResponseParser.parseGetTransactionResponse (/app/node_modules/starknet/dist/utils/responseParser/sequencer.js:43:67)
    at /a

[2022-11-25 11:13] penovicp commented on #417
@Eric-ett, after trying out `getTransaction` I can confirm that it doesn't work as expected for unsuccessful retrievals. This is something that will need to be fixed.

However that fix doesn't need to be a blocker for you, if the transaction hash parameter is valid `getTransaction` behaves as expected.

To corroborate with the base URL set to `https://alpha4.starknet.io`:
- using a faulty hash lik

[2022-11-27 03:15] Eric-ett commented on #417
Hi @penovicp, I understand that passing an invalid hash will trigger an error like this.
However, my usage scenario is this:
first, I sent a transaction, got the returned txHash, and then I called the getTransaction method, but sometimes it succeeded, and sometimes it returned the above problem. I am sure this txHash is correct, because it will be confirmed on the chain later.
My guess is that aft

[2022-11-28 06:58] penovicp commented on #417
The `waitForTransaction` utility method can be used to help in that case, it uses `getTransactionStatus` internally.

[2022-11-28 12:44] lazarmitic opened #419 "BlockIdentifier is not properly passed to contract call"
Even if I set blockIdentifier in options argument to be 'latest', Starknet.js still sends requests using 'pending' block.

I checked the code and it seems the problem is in `buildCall` function. It takes all arguments as array, and calls `contract.call()` without setting the 3rd argument which is the block identifier.

Code in question:
1. buildCall -> contract/default.ts -> line: 37
2. Invalid co

[2022-11-28 13:58] lazarmitic commented on #419
I created PR for this https://github.com/0xs34n/starknet.js/pull/420

[2022-11-29 09:54] ivpavici commented on #203
@cwkang1998 feel free to contribute to https://github.com/ivpavici/abi-wan-kanabi :)

[2022-11-29 10:56] cwkang1998 commented on #203
@ivpavici Any specific thing you looking for contribution on https://github.com/ivpavici/abi-wan-kanabi?

[2022-11-29 11:55] ivpavici commented on #203
For now it is a simple POC, it works for an ERC20 contract... But a lot is missing,  you are free to suggest!

[2022-11-29 20:42] ivpavici commented on #36
@danikula check the newly published guides!

[2022-11-30 08:25] penovicp opened #428 "Update types"
The sequencer and default provider types have become outdated and should be updated.

[2022-11-30 08:32] tabaktoni commented on #419
Resolved with https://github.com/0xs34n/starknet.js/pull/420

[2022-11-30 08:32] #419 closed

[2022-11-30 08:51] janek26 commented on #428
what do you mean exactly?

[2022-11-30 09:57] penovicp commented on #428
To reuse the example from the Slack thread that prompted this issue: because of the `GetTransactionReceiptResponse` typing the `getTransactionReceipt` response sometimes needs to be cast to use the `events` property even though it is always available for both [RPC](https://github.com/starkware-libs/starknet-specs/blob/v0.2.1/api/starknet_api_openrpc.json#L1490) and [sequencer](https://github.com/s

[2022-11-30 11:29] ivpavici commented on #371
See updated guides https://www.starknetjs.com/guides/account

[2022-11-30 11:29] #371 closed

[2022-11-30 11:33] #394 closed

[2022-11-30 11:42] ivpavici opened #429 "support chain_id for testnet2 (SN_GOERLI2)"
In addition to already existing chain ID-s, support a different chain_id for testnet2 (SN_GOERLI2)

[2022-11-30 15:47] tabaktoni commented on #409
Resolved in https://github.com/0xs34n/starknet.js/pull/410

[2022-11-30 15:47] #409 closed